<div class="b-about-page">
  <div class="main-information">
    <div class="image">
    </div>
    <div class="text">
      <span class="text-secondary-header -black">
        About the
      </span>
      <h1 class="text-main-header -black">
        World Intermediary
        Liabilty Map
      </h1>
    </div>
    <div class="text-paragraph">
      <p class="paragraph -black">
        The World Intermediary Liability Map (WILMap) is an online resource informing the public about evolving
        Internet regulation affecting <strong>freedom of expression and user rights worldwide</strong>.
      </p>
      <p class="paragraph -black">
        CIS, in collaboration with an amazing team of contributors from around the world,
        built this detailed English-language resource comprised of international case law,
        statutes, proposed laws, and other materials related to intermediary liability.
      </p>
      <p class="paragraph -black">
        You can use the WILMap to learn about intermediary liability regimes worldwide,
        and to identify places where legal regimes balance—or fail to balance—regulatory goals with
        freedom of expression and other civil liberties.
      </p>
      <p class="paragraph -black">
        Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKhwkPlZ2I0_7qAQjma8Y4SOXKFIHWhWf_qklMM7QdduNjjQ/viewform">contact us</a> if you would like to join this project, provide feedback or suggest updates to a specific country page.
      </p>
      <p class="paragraph -black">
        The WILMap project was developed by <a href="http://cyberlaw.stanford.edu/about/people/giancarlo-frosio">Giancarlo F Frosio</a>
        and is currently coordinated by Luiz <a href="https://cyberlaw.stanford.edu/about/people/luiz-fernando-marrey-moncau">Fernando Marrey Moncau</a>.
      </p>
    </div>
  </div>
</div>
