.c-card {
  display: inline-block;
  flex-basis: calc(50% - 70px);
  margin-top: 20px;
  padding: 30px;
  transition: .2s linear;
  background-color: rgba($third-color, .3);
  cursor: pointer;

  &:hover {
    background-color: $third-color;
  }

  .card-heading {
    position: relative;
    color: $black;
    font-size: $font-size-mediun;
    font-weight: $font-weight-semi-light;
    line-height: 1.36;

    &::after {
      content: '';
      display: block;
      width: 140px;
      height: 5px;
      margin: 20px 0;
      border: 0;
      background-color: rgba($second-color, .2);
    }
  }

  .card-content {
    line-height: 1.88;
    font-family: $font-primary;
    font-weight: $font-size-small;
    overflow: hidden;
    height: 230px;
  }

  .card-location,
  .card-details,
  .card-subheading {
    display: none;
  }

  &.-extended {

    .card-location {
      display: block;
      font-size: $font-size-small;
      font-family: $font-primary;
      color: $second-color;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    .card-heading {
      color: $main-color;
      text-transform: uppercase;
      font-family: $font-primary;
      font-weight: $font-weight-bold;
      font-size: $font-size-small;
    }

    .card-subheading {
      display: block;
      font-weight: $font-weight-bold;
      font-family: $font-primary;
      font-size: 16px;
      color: $black;
      text-transform: capitalize;
    }

    .card-details {
      display: block;
      color: $second-color;
      font-family: $font-primary;
      font-size: 16px;
      line-height: 1.88;
      text-transform: capitalize;
    }
  }
}
