// ============================================================================
//
// LAYOUT: SITE FOOTER
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------

$footer-text-color:                     $second-color;
$footer-bandcolor:                      #222222;


// -------------------------------------
// Scaffold
// -------------------------------------

.site-footer {
  @include trim();
  @include margin($dp * 3 null null null);

  background-color: $footer-bandcolor;

  .footer_first_wrap {
    @include padding($dp * 5.6 null);

    .region-footer-first {
      @include row();

      .block-menu {
        @include column(13, center, false, false);

        .menu-item {
          @include column(3.5);
          @include position(relative);
          display: block;
          height: 142px;

          a {
            @include size(100%);
            @include font($med, 1, $extra-light, $heading-font);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $footer-text-color;
            opacity: 0.7;
            text-decoration: none;

            &:hover {
              opacity: 1;
            }

            @include respond(tablets) {
              @include padding(null $dp);
              @include font($med - 5, 1.2, $extra-light, $heading-font);
            }
          }

          &:nth-child(1) {
            margin-left: 0;

            a {
              @include padding(null $dp * 4);
              @include bg-image ($img-path + 'footer/footer-1.png', $width:100%, $height:100%);
              background-size: cover;

              @include respond(tablets) {
                @include padding(null $dp);
              }
            }
          }

          &:nth-child(2) {
            a {
              @include padding(null $dp * 4);
              @include bg-image ($img-path + 'footer/footer-2.png', $width:100%, $height:100%);
              background-size: cover;

              @include respond(tablets) {
                @include padding(null $dp);
              }
            }
          }

          &:nth-child(3) {
            a {
              @include padding(null $dp * 6);
              @include bg-image ($img-path + 'footer/footer-3.png', $width:100%, $height:100%);
              background-size: cover;

              @include respond(tablets) {
                @include padding(null $dp * 4);
              }
            }
          }

          &:nth-child(4) {
            a {
              @include padding(null $dp * 6);
              @include bg-image ($img-path + 'footer/footer-4.png', $width:100%, $height:100%);
              background-size: cover;

              @include respond(tablets) {
                @include padding(null $dp * 5);
              }
            }
          }

          @include respond(all-phones) {
            @include margin(null null $dp * 2 null);
          }

        }
      }
    }
  }

  .footer_second_wrap {
    @include trim-field();
    @include padding($dp * 2 $dp * 3);
    @include clearfix();
    width: 100%;
    float: none;
    clear: both;
    display: block;
    border-top: 1px solid rgba($footer-text-color, 0.5);

    @include respond(all-phones) {
      @include padding($dp * 2 $dp * 2);
    }

    .block-block-content {
      @include column(7, false, collapse, false);

      @include respond(all-phones) {
        @include margin(null null $dp null);
      }

      .logo-cis a {
        @extend %hide-text;
        @include bg-image ($img-path + 'logo.png', $width:100%, $height:auto);
        @include size(162px 95px);
        background-position: center left;
        background-size: 132px 95px;
        float: left;

        @include respond(all-phones) {
          @include size(105px 60px);
          background-size: contain;
          background-position: 0 0;
        }
      }

      .logo-sign a {
        @extend %hide-text;
        @include bg-image ($img-path + 'footer/stanford-logo.png', $width:100%, $height:auto);
        @include size(175px 14px);
        @include padding($dp null);
        background-position: center right;
        background-size: 145px 14px;
        border-left: 1px solid rgba($footer-text-color, 0.4);
        float: left;
        position: relative;
        top: 75px;

        @include respond(all-phones) {
          top: 40px;
        }
      }
    }

    .block-menu {
      @include column(7);
      text-align: right;
      opacity: 0.7;
      position: relative;
      top: 35px;

      @include respond(all-phones) {
        top: 20px;
      }

      ul {
        text-align: right;

        li {
          display: inline-block;
          margin-left: $dp * 1.5;

          a {
            @include font($normal, 1, $semibold, $buttons-font);
            text-transform: uppercase;
            color: $footer-text-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


// -------------------------------------
// Override
// -------------------------------------

body.node-map {
  .site-footer {
    @include margin(0 null null null);

    .footer_second_wrap {
      .block-block-content {
        .logo-cis a {
          background-position: bottom left;
          height: 35px;
        }

        .logo-sign a {
          top: 15px;
        }
      }

      .block-menu {
        top: 13px;
      }
    }
  }
}
