// ============================================================================
//
// LAYOUT: SITE HEADER
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------

$header-title-color:                    $heading-font-color;
$header-text-color:                     $header-title-color;
$header-navbar:                         rgba($white, 0.95);
$header-bandcolor:                      transparent;
$header-bandcolor-active:               $third-color;

$header-height-desktop:                 auto;
$header-height-tablets:                 auto;
// $header-height-phones:                  auto;
// $header-height-desktop:                 132px;
// $header-height-tablets:                 100px;
$header-height-phones:                  65px;
$header-w-logo-desktop:                 179px;
$header-w-logo-tablets:                 135px;
$header-w-logo-phones:                  88px;
$header-marginleft:                     $dp * 3;

// responsive vars
$nav-hamburguer-color:                  $black;
$nav-hamburguer-bgcolor:                transparent;
$nav-hamburguer-color-active:           $white;
$nav-hamburguer-bgcolor-active:         transparent;
$nav-item-color:                        $black;
$nav-item-color-active:                 $black;
$nav-item-bgcolor:                      $white;
$nav-item-bgcolor-active:               $white;


// Mixins
@mixin toggle-button() {
  @include position(absolute, $dp * 1.8 0 null null);
  @include margin(0);
  @include padding($dp / 2);
  @include fs($med - 5);
  @include lh(1, $med - 5);
  background-color: transparent;
  display: inline-block;
  color: $nav-hamburguer-color;
  background: $nav-hamburguer-bgcolor;

  @include respond(tablets) {
    @include position(absolute, $dp * 2.5 0 null null);
    @include padding(3px);
    width: $dp * 11;
    height: $dp * 3.6;
  }

  @include respond(all-phones) {
    @include position(absolute, $dp * 1.8 0 null null);
    @include padding(3px);
    width: $dp * 11;
    height: $dp * 3.6;
  }

  .str {
    @include font($normal, 1, $regular, $heading-font);
    letter-spacing: 0.9px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $nav-hamburguer-color;
  }

  i {
    @include position(relative, 3px null null null);
    @include fs($med);
    display: inline-block;
    text-decoration: none;
    color: $nav-hamburguer-color;
  }

  &:hover {
    background: $nav-hamburguer-bgcolor-active;
    color: $nav-hamburguer-color-active;
  }

  &:active,
  &.active {
    background: $nav-hamburguer-bgcolor-active;
    color: $nav-hamburguer-color-active;

    i,
    .str {
      color: $nav-hamburguer-color-active;
    }

    i {
      &:before {
        content: $entypo-icon-cancel;
      }
    }
  }
}

@mixin navigation-mobile() {
  @include trim();
  @include position(absolute, $dp * 6 null null 0);
  background-color: $nav-item-bgcolor;
  display: block;
  overflow: hidden;
  text-align: center;
  float: none;
  clear: both;
  text-align: center;
  width: 100% !important;
  height: 100%;
  max-height: 900px;
  z-index: 999998;
}

@mixin item-li-mobile() {
  @include trim();
  @include position(relative);
  @include size(auto);
  @include padding($dp * 3 0);
  @include box-shadow(none);
  display: block;
  text-align: center;
  width: 100%;
  background-color: $nav-item-bgcolor;
}

// -------------------------------------
// Scaffold
// -------------------------------------

.site-header {
  @extend %is-shown-block;
  @include trim();
  @include margin(0);
  @include position(fixed);
  @include border-radius(0);
  @include clearfix();
  overflow: visible;
  background-color: $header-bandcolor;
  width: 100%;
  height: $header-height-desktop;
  top: 0;
  left: 0;
  z-index: 110;

  &.active {
    background-color: $header-bandcolor-active;
  }

  @include respond(tablets) {
    @include position(fixed);
    height: $header-height-tablets;
  }

  @include respond(all-phones) {
    @include position(relative);
    height: $header-height-phones;
  }

  .main-header {
    width: 100%;

    // Logo
    .site-name {
      @include position(absolute, 0 null null $header-marginleft);
      @include size($header-w-logo-desktop $header-height-desktop);
      @include margin(null null null null);
      @include transition(all .3s ease);
      background-color: $header-bandcolor-active;
      border: 1px solid $white;
      border-top: none;
      z-index: 99;

      @include respond(tablets) {
        @include position(absolute, 0 null null $header-marginleft);
        @include size($header-w-logo-tablets $header-height-tablets);
      }

      @include respond(all-phones) {
        @include position(absolute, 0 null null $header-marginleft - $dp);
        @include size($header-w-logo-phones $header-height-phones);
        border: none;
        border-top: none;
      }

      a {
        @include font($normal, 1.2, $bold, $body-font);
        color: $second-color;
        padding: $dp * 2;
        text-align: center;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        // @extend %is-shown-block;
        // @extend %hide-text;
        // @include size(100%);
        //
        // @include bg-image ($img-path + 'logo.png', $width:78%, $height:auto);
        // background-position: 50% 50%;

        @include respond(all-phones) {
          padding: $dp * 2.2 0 $dp * 2 0;
        }
      }
    }

    // Slogan
    .site-slogan {
      @extend %is-hidden;
    }
  }


// -------------------------------------
// Region Primary Menu
// -------------------------------------

  .region-primary-menu {
    @include position(relative, 0 null null 0);
    @include transition(all .3s ease);
    background-color: transparent;
    display: block;

    @include respond(all-phones) {
      @include position(absolute, $header-height-phones null null 0);
      display: none;
      background-color: $nav-item-bgcolor;
      width: 100%;
      height: 1000px;
      max-height: 1000px;
      overflow: hidden;
      z-index: 99;

      &.active {
        display: block;
      }
    }
  }


// -------------------------------------
// Search Block
// -------------------------------------

  .block-search {
    @include trim();
    @include transition(all .3s ease);
    @include position(absolute, -$dp * 2 0 null null);
    width: $dp * 35;
    z-index: 2000;
    overflow: hidden;

    @include respond(tablets) {
      @include position(absolute, -$dp * 2 0 null null);
      width: $dp * 30;
    }

    // @include respond(portrait-tablets) {
    //   @include position(absolute, $dp * 2.3 0 null null);
    //   width: $dp * 30;
    // }

    @include respond(all-phones) {
      @include position(relative, 0 null null 0);
      width: 100%;
    }
  }


// -------------------------------------
// Main Navigation
// -------------------------------------

  .navbar {
    @include position(relative !important);
    @include trim();
    @include padding($dp * 2 null $dp * 1.9 $header-w-logo-desktop + $header-marginleft + ($dp * 2));
    min-height: auto;
    background-color: $header-navbar;
    z-index: 9;

    @include respond(tablets) {
      @include padding($dp * 2 null $dp * 1.9 $header-w-logo-tablets + $header-marginleft + ($dp * 2));
    }

    // @include respond(portrait-tablets) {
    //   @include padding($dp * 2 null $dp * 6 $header-w-logo-tablets + $header-marginleft + ($dp * 2));
    // }

    @include respond(all-phones) {
      @include padding($dp * 2 null $dp * 2 0);
      background-color: transparent;
    }


    //Button
    a.toggle {
      display: none;

      @include respond(all-phones) {
        @include toggle-button();
      }
    }


    //Menu
    ul.menu {
      @include trim();
      @include position(relative);
      @include margin(0 auto);
      display: block;
      text-align: left;
      vertical-align: middle;

      @include respond(all-phones) {
        @include navigation-mobile();
      }

      li {
        @include trim();
        @include position(relative);
        line-height: 0;
        display: table-cell;
        height: auto;
        margin: 0;
        padding-bottom: 0;
        text-align: center;
        vertical-align: middle;

        @include respond(all-phones) {
          @include item-li-mobile();
        }

        &:hover a,
        a {
          @include trim();
          @include position(relative);
          @include size(auto);
          @include padding($dp / 2 0 $dp * 1.3 0);
          @include margin(0 $dp);
          @include text-shadow(none);
          @include transition(all .3s ease);
          @include font($normal, 1, $regular, $heading-font);
          letter-spacing: 0.9px;
          display: inline-block;
          text-decoration: none;
          text-transform: uppercase;

          display: inline;
          text-decoration: none;
          color: $nav-item-color;
          background-color: transparent;
          border-bottom: 5px solid transparent;

          &:hover {
            color: $nav-item-color-active;
            background-color: transparent;
            text-decoration: none;
            border-bottom: 5px solid $third-color;
          }

          &.is-active {
            color: $nav-item-color-active;
            background-color: transparent;
            text-decoration: none;
            border-bottom: 5px solid $third-color;
          }

          @include respond(tablets) {
            @include padding($dp / 2 0 $dp * 1.4 0);
            @include margin(0 $dp - 4);
          }

          // @include respond(portrait-tablets) {
          //   @include padding($dp / 2 0 $dp / 2 0);
          //   @include margin(0 $dp - 3);
          //   border: 1px solid green;
          // }

          @include respond(all-phones) {
            @include font($med + $dp, 1, $extra-light, $heading-font);
            @include padding($dp / 2 $dp * 1.5);
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
