// ============================================================================
//
// LAYOUT: SITE TITLE SECTION + SUBNAV
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------

$modal-overlay-color:                   $default-overlayer;
$modal-window-color:                    $white;
$modal-video-window-color:              $black;
$modal-close-button:                    $second-color;
$modal-close-bg-button:                 $fifth-color;


// -------------------------------------
// Scaffold
// -------------------------------------

// Modal Box
.modal {
  h3 {
    @include margin(null null $dp * 6 null);
  }

  .content {
    position: relative;
    overflow: visible;
    background: $modal-window-color;
    z-index: 2;
    top: 15%;
    width: 50%;
    min-height: 50%;
    max-height: 65%;
    margin: 0 auto;
    padding: 30px;

    @include respond(portrait-tablets) {
      top: 20%;
      width: 80%;
      min-height: 0;
      max-height: 80%;
    }

    @include respond(all-phones) {
      top: 15%;
      width: 80%;
      min-height: 0;
      max-height: 92.5%;
    }

    .row {
      .youtube {
        width: 100%;
        height: 100%;

        img,
        embed,
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }

    .close {
      @include button-second();
      position: absolute;
      z-index: 3;
      top: 0px;
      right: 0;
      cursor: pointer;
    }

    .modal-actions {
      @include padding(null null $dp * 2 null);
      @include position(absolute, auto null 0 0);
      text-align: center;
      width: 100%;
    }
  }
}
