// ============================================================================
//
// LAYOUT: NODE: VIEW: FULL;
//
// ============================================================================

// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------

article.node--view-mode-full {
  > .node__content {
    .node-body {
      @include column(14, false, collapse, false);
      @include clearfix();

      > .text-formatted {
        p, h2, h3, h4, h5, h6 {
          @include column(10);
          @include clearfix();
          @include margin(null null null columns(2.45));

          @include respond(tablets) {
            @include margin(null null null columns(2.8));
          }
        }
      }
    }
  }
}
