// ============================================================================
//
// LAYOUT: PAGE TITLE
//
// ============================================================================

  // -------------------------------------
  // Specific Settings: Vars & Mixins
  // -------------------------------------
$image-height:        $dp * 20;

// -------------------------------------
// Scaffold
// -------------------------------------

.block-page-title-block {
  @include position(relative);
  @include margin(null null $dp * 5 null);
  @include clearfix();
  min-height: $image-height;

  @include respond(tablets) {
    min-height: auto;
  }

  @include respond(all-phones) {
    @include margin(null null $dp * 3 null);
    min-height: auto;
  }

  .page-title {
    @include column(12, false, collapse, false);
    @include padding($gutter * 5.7 null null null);
    @include text-main-header();

    @include respond(tablets) {
      @include padding($gutter * 5.5 null null null);
      @include font($xxlarge, 1, $extra-light, $heading-font);
      width: columns(12);
    }

    @include respond(all-phones) {
      @include padding($gutter * 5 null null null);
      width: columns(13);
    }

    span.quickedit-field {
      @include text-secondary-header();
    }

    .secondary-page-title {
      @include text-secondary-header();

      @include respond(all-phones) {
        @include font($large / 2, 1, $extra-light, $heading-font);
      }
    }
  }

  .image {
    @include position(absolute, 0 0 null null);
    @include size(columns(11.8) $image-height);
    display: block;
    z-index: -1;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: lighten($fifth-color, 10);

    @include respond(tablets) {
      @include size(columns(11.5) $image-height / 1.2);
    }

    @include respond(all-phones) {
      @include size(columns(11) $image-height / 2.5);
    }
  }

  #mapbanner.image {
    @include image-overlay(rgba(lighten($fifth-color, 10), 1), rgba(lighten($fifth-color, 10), 0), 1, 45deg, 'absolute');
    background-image: none !important;

    // gradient left
    &::before {
      @include position(absolute, auto auto 0 0);
      @include size(100% 100%);
      z-index: 700;
    }


    .leaflet-control-attribution {
      margin-top: -10px;

      @include respond(all-phones) {
        margin-top: -3px;
      }
    }
  }

  .backtolink {
    @include position(absolute, $dp * 3 null null $dp);
    @include red-caps-link();

    @include respond(all-phones) {
      @include position(absolute, $dp null null $dp);
    }
  }
}


// -------------------------------------
// About page override
// -------------------------------------

body.node-about {
  .block-page-title-block {
    .image {
      @include respond(all-phones) {
        @include size(columns(11) $image-height / 1.5);
      }
    }
  }
}

// -------------------------------------
// Entry detail page override
// -------------------------------------

.page-node-type-entry {
  .block-page-title-block {
    .page-title {
      @include text-secondary-header();
      @include padding($gutter * 5.7 null null null);

      @include respond(tablets) {
        @include padding($gutter * 7 null null null);
      }

      @include respond(all-phones) {
        @include padding($gutter * 7.5 null null null);
      }
    }
  }
}

// -------------------------------------
// Updates report
// -------------------------------------

.updates-report {
  .block-page-title-block {
    .page-title {
      @include padding($gutter * 5 null null null);

      .secondary-page-title {
        @include column(12, false, collapse, false);
        @include padding(0 null null null);
        @include text-main-header();

        @include respond(tablets) {
          @include padding($gutter * 5.5 null null null);
          @include font($xxlarge, 1, $extra-light, $heading-font);
          width: columns(12);
        }

        @include respond(all-phones) {
          @include padding($gutter * 5 null null null);
          width: columns(13);
        }
      }
    }
  }
}
