// ============================================================================
//
// LAYOUT: CONTENT SCAFFOLDING
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------
$color-off: $fourth-color;
$color-on: $third-color;
$color-line: $fifth-color;

$responsivenav-bg-color: $white;
$responsivenav-menuitem-height: $dp * 6;


// Mixins
@mixin responsivemobilenav-gradient-overflow ($dir:left) {
  @if $dir == left {
    @include background-image(linear-gradient(to left, rgba($responsivenav-bg-color, 0), rgba($responsivenav-bg-color, 1)));
    @include position(absolute, -$dp * 2 null null 0);
  } @else {
    @include background-image(linear-gradient(to right, rgba($responsivenav-bg-color, 0), rgba($responsivenav-bg-color, 1)));
    @include position(absolute, -$dp * 2 0 null null);
  }

  @include position(absolute);
  @include size($responsivenav-menuitem-height - $dp $responsivenav-menuitem-height);
  content: ' ';
  z-index: 99;
  display: block;
}

@mixin sidebar-nav () {
  & {
    // Menu
    .views-row {
      @include trim();
      @include clearfix();

      a {
        @include trim();
        @include red-caps-link();
        @include margin(null null $dp * 3 null);
        color: $color-off;
        font-weight: $regular;
        display: block;
        text-decoration: none;
        text-align: left;
        border-right: none;
        border-bottom: none;

        @include respond(tablets) {
          @include margin(null null $dp * 1.8 null);
          font-weight: $semibold;
          text-align: left;
          border-right: none;
          border-bottom: none;
        }

        @include respond(all-phones) {
          @include margin(null $dp * 2 $dp * 2 null);
          @include padding(null null $dp * 1.2 null);
          font-weight: $regular;
          text-align: center;
          border-right: none;
          border-bottom: 4px solid transparent;
        }

        &:hover {
          color: $color-on;
          font-weight: $regular;
          text-decoration: none;
          text-align: left;
          border-right: none;
          border-bottom: none;

          @include respond(tablets) {
            font-weight: $semibold;
            text-decoration: none;
            text-align: left;
            border-right: none;
            border-bottom: none;
          }

          @include respond(all-phones) {
            font-weight: $regular;
            text-align: center;
            border-right: none;
            border-bottom: none;
          }
        }

        &.__active {
          @include red-caps-link();
          color: $color-on;
          text-decoration: none;
          text-align: left;
          border-right: 4px solid $color-on;
          border-bottom: none;

          @include respond(tablets) {
            @include margin(null null $dp * 2 null);
            text-align: left;
            border-right: 4px solid $color-on;
            border-bottom: none;
          }

          @include respond(all-phones) {
            @include margin(null null $dp * 2 null);
            text-align: center;
            border-right: none;
            border-bottom: 4px solid $color-on;
          }
        }
      }
    }
  }
}

@mixin sidebar-nav-content-separator () {
  & {
    // Vertical line menu
    &::before {
      content: '';
      display: block;
      background-color: lighten($color-line, 10);
      width: 4px;
      height: 100%;
      position: absolute;
      top: 0;
      left: (-$gutter * 2) + 0.5;
      z-index: -1;

      @include respond(all-phones) {
        // Horizontal line
        width: 100%;
        height: 4px;
        top: (-$dp * 5.4);
        left: 0;
      }

    }
  }
}

// -------------------------------------
// Scaffold
// -------------------------------------
.main-content-inner {
  @include clearfix();

  .content-sidenav {
    @include column(4, false, collapse, false);
    @include position(relative);
    @include sidebar-nav();
    @include clearfix();

    @include respond(tablets) {
      width: columns(3.5);
    }

    @include respond(all-phones) {
      @include margin(null null $dp * 3 null);

      &::before {
        @include responsivemobilenav-gradient-overflow(left);
      }

      &::after {
        @include responsivemobilenav-gradient-overflow(right);
      }
    }

    .block-views {
      &.fixed {
        @include trim();
        @include row();
        @include padding(null 0);
        @include transition(all .3s ease);
        top: 150px !important;

        .content {
          //@include column(14, center, collapse, false);

          .view-continent {
            @include column(4, false, collapse, false);
          }
        }
      }
    }
  }

  .content-content {
    @include column(14, false, collapse, false);
    @include position(relative);
    @include clearfix();

    &.with-sidenav {
      @include column(10);
      @include sidebar-nav-content-separator();

      @include respond(tablets) {
        width: columns(10.5);
      }
    }
  }
}
