// ============================================================================
//
// LAYOUT: SITE SCAFFOLDING
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------
body {
  .layout-main-wrapper {
    @include trim();
    @include row();
    margin-top: $dp * 12;

    @include respond(tablets) {
      margin-top: $dp * 8;
    }

    @include respond(all-phones) {
      margin-top: $dp * 3;
    }

    .layout-main {
      @include column(12, center, collapse, false);

      .text-formatted {
        @include wyswyg-textformat();
      }
    }
  }

  &.user-logged-in {
    .site-header {
      top: $dp * 8 !important;
    }

    .layout-main-wrapper {
      margin-top: $dp * 8 !important;
    }
  }


  // -------------------------------------
  // Home 100% width
  // -------------------------------------
  &.path-frontpage {
    .layout-main-wrapper {
      @include trim();
      @include row(nested);
      margin-top: $dp * 12;

      @include respond(tablets) {
        margin-top: $dp * 8;
      }

      @include respond(portrait-tablets) {
        margin-top: $dp * 3;
      }

      @include respond(all-phones) {
        margin-top: $dp * 3;
      }

    .layout-main {
      @include column(14, false, collapse, false);

      .text-formatted {
        @include wyswyg-textformat();
      }
    }

    &.user-logged-in {
      .site-header {
        top: $dp * 8 !important;
      }

      .layout-main-wrapper {
        margin-top: $dp * 8 !important;
      }
    }
  }


  // -------------------------------------
  // No sidebars
  // -------------------------------------

  &.no-sidebar {
    .main-content {
      @include column(12, false, collapse, false);
      @include clearfix();
    }
  }


  // -------------------------------------
  // Sidebars
  // -------------------------------------

  &.sidebar-first {
    #sidebar-first {
      @include column(3, false, collapse, false);
      @include clearfix();
    }

    .main-content {
      @include column(9, false, false, false);
      @include clearfix();
    }
  }

  &.sidebar-second {
    .main-content {
      @include column(9, false, collapse, false);
      @include clearfix();
    }

    #sidebar-second {
      @include column(3, false, false, false);
      @include clearfix();
    }
  }

  &.both-sidebars {
    #sidebar-first {
      @include column(3, false, collapse, false);
      @include clearfix();
    }

    .main-content {
      @include column(6, false, false, false);
      @include clearfix();
    }

    #sidebar-second {
      @include column(3, false, false, false);
      @include clearfix();
    }
  }
}
}
