// ============================================================================
//
// LAYOUT: CONTENT SCAFFOLDING
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------
$color-off: $fourth-color;
$color-on: $third-color;
$color-line: $fifth-color;
$line-weight: 5px;

$responsivenav-bg-color: $white;
$responsivenav-menuitem-height: $dp * 6;


// Mixins
@mixin responsivemobilenav-gradient-overflow ($dir:left) {
  @if $dir == left {
    @include background-image(linear-gradient(to left, rgba($responsivenav-bg-color, 0), rgba($responsivenav-bg-color, 1)));
    @include position(absolute, -$dp * 2 null null 0);
  } @else {
    @include background-image(linear-gradient(to right, rgba($responsivenav-bg-color, 0), rgba($responsivenav-bg-color, 1)));
    @include position(absolute, -$dp * 2 0 null null);
  }

  @include position(absolute);
  @include size($responsivenav-menuitem-height - $dp $responsivenav-menuitem-height);
  content: ' ';
  z-index: 99;
  display: block;
}

@mixin sidebar-nav () {
  & {
    .tab-nav {
      border: none;
    }

    // Menu
    .views-row {
      @include trim();
      @include clearfix();
      outline: none;

      a {
        @include trim();
        @include red-caps-link();
        @include padding($dp * 1.2 null);
        @include margin(null null $dp * 1.8 null);
        color: $color-off;
        font-weight: $semibold;
        display: block;
        text-decoration: none;
        text-align: left;
        border-right: none;
        border-bottom: none;
        outline: none;

        @include respond(tablets) {
          @include padding($dp null);
          @include margin(null null $dp * 1.5 null);
          font-weight: $semibold;
          text-align: left;
          border-right: none;
          border-bottom: none;
        }

        @include respond(all-phones) {
          @include margin(null $dp * 2 $dp * 2 null);
          @include padding(null null $dp * 1.2 null);
          font-weight: $semibold;
          text-align: center;
          border-right: none;
          border-bottom: $line-weight solid transparent;
        }

        &:hover {
          color: $color-on;
          font-weight: $semibold;
          text-decoration: none;
          text-align: left;
          border-right: none;
          border-bottom: none;

          @include respond(tablets) {
            font-weight: $semibold;
            text-decoration: none;
            text-align: left;
            border-right: none;
            border-bottom: none;
          }

          @include respond(all-phones) {
            font-weight: $semibold;
            text-align: center;
            border-right: none;
            border-bottom: none;
          }
        }

        &.__active {
          // @include red-caps-link();
          color: $color-on;
          text-decoration: none;
          text-align: left;
          border-right: $line-weight solid $color-on;
          border-bottom: none;

          @include respond(tablets) {
            // @include margin(null null $dp * 2 null);
            text-align: left;
            border-right: $line-weight solid $color-on;
            border-bottom: none;
          }

          @include respond(all-phones) {
            // @include margin(null null $dp * 2 null);
            text-align: center;
            border-right: none;
            border-bottom: $line-weight solid $color-on;
          }
        }
      }
    }
  }
}

@mixin sidebar-nav-content-separator () {
  & {
    // Vertical line menu
    &::before {
      content: '';
      display: block;
      background-color: lighten($color-line, 10);
      width: $line-weight;
      height: 100%;
      position: absolute;
      top: 0;
      left: (-$gutter * 2) + 0.3;
      z-index: -1;

      @include respond(all-phones) {
        // Horizontal line
        width: 100%;
        height: $line-weight;
        top: (-$dp * 5.4);
        left: 0;
      }

    }
  }
}

// -------------------------------------
// Scaffold
// -------------------------------------
.main-content-inner {
  @include clearfix();

  .content-sidenav {
    @include clearfix();
    @include position(relative);
    @include sidebar-nav();
    @include column(4, false, collapse, false);
    width: 250px;

    @include respond(tablets) {
      width: 150px;
    }

    @include respond(all-phones) {
      @include margin(null null $dp * 3 null);

      &::before {
        @include responsivemobilenav-gradient-overflow(left);
      }

      &::after {
        @include responsivemobilenav-gradient-overflow(right);
      }
    }

    .block-views {
      &.fixed {
        position: fixed !important;
        margin-top: 150px;

        @include respond(tablets) {
          top: 0 !important;
        }

        &.pinned {
          margin-top: -360px;
          position: absolute !important;

          @include respond(tablets) {
            // margin-top: 150px;
            // position: fixed !important;
            // top: 0 !important;
          }
        }

        .content {
          .view-continent {
            width: 250px;

            @include respond(tablets) {
              width: 150px;
            }
          }
        }
      }

      &.unfixed {
        margin-top: 0px;
        position: relative !important;
      }
    }
  }

  .content-content {
    @include column(14, false, collapse, false);
    @include position(relative);
    @include clearfix();

    &.with-sidenav {
      @include column(10);
      @include sidebar-nav-content-separator();

      @include respond(tablets) {
        width: columns(10);
      }
    }
  }
}
