<div class="b-topics-page">
  <div class="title-page">
    <div class="image">
    </div>
    <h1 class="text-main-header -black">
      Topics
    </h1>
  </div>
  <div class="gallery-topics"></div>
</div>
