<div class="b-news-gallery">
  <div class="title-page">
    <div class="image">
    </div>
    <h1 class="text-main-header -black">
      News
    </h1>
  </div>
  <div class="gallery-news">
    <aside class="nav-categories">
      <ul class="list-categories">
        <li data-value="all" class="option-category -selected">all news</li>
        <!-- <li data-bar="60" class="option-category">legislation</li>
        <li data-bar="120" class="option-category">bills and legislative proposals</li>
        <li data-bar="180" class="option-category">decisions</li>
        <li data-bar="240" class="option-category">other resources</li> -->
      </ul>
    </aside>
    <div class="bar-nav">
      <div class="small-bar"></div>
    </div>
    <div class="gallery">
      <div class="gallery-scroll" id="gallery-scroll"></div>
      <div class="pager">
        <ul class="pager-numbers">
        </ul>
      </div>
    </div>
  </div>
</div>
