// ============================================================================
//
// HELPERS: CONTRIBUTORS SNIPPETS
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// contributors list name
// -------------------------------------
@mixin contributors--list--name() {
  & {
    @include font($normal, 1.1, $bold, $heading-font);
    @include margin(null null $dp * 1.5 null);
    text-decoration: none;
    color: $black;

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// -------------------------------------
// contributors list position
// -------------------------------------
@mixin contributors--list--position() {
  & {
    @include font($normal, 1.1, $semibold, $heading-font);
    text-decoration: none;
    color: $fourth-color;
  }
}


// -------------------------------------
// contributors list go to profile
// -------------------------------------
@mixin contributors--list--goprofile() {
  & {
    @include button-transparent-red();
    width: 80%;
    background-color: transparent;
    text-align: center;

    &:hover {
      background-color: transparent;
    }
  }
}


// -------------------------------------
// contributors sheet labels
// -------------------------------------
@mixin contributors--sheet--labels() {
  & {
    @include font($normal - 2, 1, $semibold, $heading-font);
    @include padding($dp * 1.5 null null null);
    @include margin(null null $dp * 1.5 null);
    text-transform: uppercase;
    border-top: 1px solid rgba($black, 0.1);
    color: $black;
  }
}


// -------------------------------------
// contributors sheet items
// -------------------------------------
@mixin contributors--sheet--items() {
  & {
    @include font($normal - 2, 1.2, $regular, $heading-font);
    @include margin(null null $dp * 2 null);
    color: $black;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


// -------------------------------------
// contributors contributions/ranking
// -------------------------------------
@mixin contributors--list--contributions() {
  & {
    @include font($normal - 2, 1.2, $semibold, $heading-font);
    color: $second-color;
  }
}

@mixin contributors--list--ranking() {
  & {
    @include contributors--list--contributions();
    @include size($dp * 3);
    @include border-radius($big-radius * 3);
    @include padding(6px null null null);
    text-align: center;
    display: block;
    background-color: $third-color;
  }
}


// -------------------------------------
// contributors position title
// -------------------------------------
@mixin contributors--position--title() {
  & {
    @include trim();
    @include font($normal - 2, 1.2, $semibold, $heading-font);
    // @include padding($dp * 1.5 null null null);
    @include margin(null null $dp / 2 null);
    text-transform: uppercase;
    color: $fourth-color;
  }
}


// -------------------------------------
// contributors grid
// -------------------------------------

@mixin contributors-grid($structure:'.views-row', $break-margin: '4n+1') {
  // Structure wrapper
  @include content-listings-wrapper($structure, $break-margin) {
    // $color_bg: rgba($fifth-color, 0.5);
    $color_bg: lighten($fifth-color, 8);

    @include column(3.5);
    @include margin(null null $dp * 2 null);
    @include clearfix();
    @include image-overlay(rgba($color_bg, 0), rgba($color_bg, 1), 1, 180deg, relative);
    overflow: hidden;
    background-color: $color_bg;
    min-height: 250px;
    max-height: 250px;

    @include respond(tablets) {
      width: columns(4.6);
      min-height: 270px;
      max-height: 270px;
    }

    @include respond(all-phones) {
      min-height: 400px;
      max-height: 400px;
    }


    &:before {
      @include position(absolute, auto auto 0 0);
      @include size(100% $dp * 2.5);
    }

    &:nth-child(#{$break-margin}) {
      @include respond(tablets) {
        margin-left: $gutter !important;
      }
    }

    &:nth-child(3n+1) {
      @include respond(tablets) {
        margin-left: 0 !important;
      }
    }

    .contributor-image-holder {
      @include position(relative);
      @include image-overlay($third-color, $third-color, 0);
      background-color: $white;
      overflow: hidden;
      cursor: default;

      &::before {
        @include transition(all .3s ease);
        @include size(100% 100%);
        z-index: 1;
      }

      .contributions {
        @include contributors--list--contributions();
        @include position(absolute, $dp null null $dp);
        @include padding(0 null $dp 0);
        width: 90%;
        border-bottom: 1px solid $second-color;
        z-index: 10;
      }

      .ranking {
        @include contributors--list--ranking();
        @include position(absolute, $dp $dp null null);
        z-index: 10;
      }

      .hover-text {
        @include position(absolute, auto null -50px 50%);
        @include transition(all .3s ease);
        @include contributors--list--goprofile();
        transform: translateX(-50%);
        z-index: 10;
      }

      &:hover {
        cursor: pointer;

        &::before {
          opacity: 0.7;
        }

        .hover-text {
          @include position(absolute, auto null 20px 50%);
          transform: translateX(-50%);
          z-index: 10;
        }
      }

      .views-field-user-picture {
        @include position(relative);
        @include filter(grayscale(100%));
        @include size(100% 160px);

        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        @include respond(tablets) {
          @include size(100% 170px);
        }

        @include respond(all-phones) {
          @include size(100% 300px);
        }
      }
    }

    .contributor-info-holder {
      @include padding($dp * 1.2);

      .views-field-name {
        @include contributors--list--name();
      }

      .views-field-field-profile-title {
        @include contributors--list--position();
      }
    }
  }
}




// -------------------------------------
// contributors general entity
// -------------------------------------
@mixin contributors($target, $structure:none, $break-margin: false) {
  & {
    @include trim();
    @include trim-field();
    @include margin(null null $dp * 2 null);
  }

  // Layouts
  // Grid
  @if $target == grid {
    @include contributors-grid($structure, '4n+1');
  }
}
