// ============================================================================
//
// HELPERS: ENTRIES SNIPPETS
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------
$entry-color-base:       lighten($fifth-color, 10);
$entry-color-hover:      $fifth-color;
$entry-gradient-dir:     180deg;


// -------------------------------------
// entry title
// -------------------------------------

@mixin entry--title() {
  @include news--header(small);

  // Override
  & {
    @include margin(null null 0 null);
  }
}

// -------------------------------------
// entry date
// -------------------------------------

@mixin entry--date() {
  @include news--date();

  // Override
  & {
    @include margin(null null $dp / 2 null);
  }
}

// -------------------------------------
// entry external link
// -------------------------------------

@mixin entry--external-link() {
  & {
    a {
      // @include icon-insert(icon-right-open, after);
      text-decoration: none;

      // &:after {
      //   border: 1px solid black;
      // }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// -------------------------------------
// entry taxonomy
// -------------------------------------

@mixin entry--taxonomy() {
  @include red-caps-link();
  @include field-separator();
  @include margin(null null $dp * 2 null);

  // Override
  & {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

}

// -------------------------------------
// entry location
// -------------------------------------

@mixin entry--location() {
  & {
    @include font($normal, $base-line-increment, $regular, $base-font-family);
    @include margin(null null $dp / 2 null);
    color: $fourth-color;
    text-decoration: none;

    a {
      @include font($normal - 2, $base-line-increment, $regular, $base-font-family);
      color: $fourth-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }


}

// -------------------------------------
// entry list
// -------------------------------------

@mixin entry-list($structure:'.views-row', $break-margin: false) {
  // Structure wrapper
  @include content-listings-wrapper($structure, $break-margin) {
    @include margin(null null $dp * 2 null);
    @include clearfix();
    overflow: hidden;

    .node {
      @include topic--gradient(relative, false);
    }
  }
}

// -------------------------------------
// entry grid
// -------------------------------------

@mixin entry-grid($structure:'.views-row', $break-margin: '2n+1') {
  // Structure wrapper
  @include content-listings-wrapper($structure, $break-margin) {
    @include column(7);
    @include margin(null null $dp * 2 null);
    @include clearfix();
    max-height: $dp * 37;
    overflow: hidden;

    .node {
      @include topic--gradient(relative, true);
      height: $dp * 37;
      max-height: $dp * 37;

      &:hover {
        background-color: $entry-color-hover;
      }
    }
  }
}


// -------------------------------------
// News general entity
// -------------------------------------
@mixin entry($target: false, $structure:none, $break-margin: false) {
  & {
    .node {
      @include trim-field();
      @include margin(null null $dp * 2 null);
      @include padding($dp * 3);
      background-color: $topic-color-base;
      display: block;
      cursor: pointer;
      overflow: hidden;

      .node__title {
        @include entry--title();
      }

      .field--name-field-date-published {
        @include entry--date();
      }

      .field--name-field-tax-section {
        @include entry--taxonomy();
      }

      .field--name-field-location-entry {
        @include entry--location();
      }
    }
  }

  // Layouts
  // Grid
  @if $target == grid {
    @include entry-grid($structure, '2n+1');
  }

  // List
  @if $target == list {
    @include entry-list($structure, false);
  }
}
