// ============================================================================
//
// HELPERS: TOPICS SNIPPETS
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------
$topic-color-base:       lighten($fifth-color, 10);
$topic-color-hover:      $fifth-color;
$topic-gradient-dir:     180deg;




// -------------------------------------
// Topic gradient
// -------------------------------------
@mixin topic--gradient($pos:relative, $hover:true, $highlight:false) {
  $topic-color-base: $topic-color-base;
  $topic-color-hover: $topic-color-hover;

  @if $highlight {
    $topic-color-base: darken($topic-color-base, 10);
    $topic-color-hover: darken($topic-color-hover, 10);
  }

  & {
    @include image-overlay(rgba($topic-color-base, 0), rgba($topic-color-base, 1), 1, $topic-gradient-dir, $pos);

    // gradient bottom
    &::before {
      @include position(absolute, auto auto 0 0);
      @include size(150% $dp * 10);
      z-index: 10;
    }

    @if $hover {
      &:hover {
        @include image-overlay(rgba($topic-color-hover, 0), rgba($topic-color-hover, 1), 1, $topic-gradient-dir, $pos);

        // gradient bottom
        &::before {
          @include position(absolute, auto auto 0 0);
          @include size(150% $dp * 10);
          z-index: 10;
        }
      }
    }
  }
}


// -------------------------------------
// Topic header
// -------------------------------------
@mixin topic--header() {
  & {
    @include trim();
    @include position(relative);
    @include font($med, 1.2, $light, $heading-font);
    @include field-separator();
    @include margin(null null $dp * 2 null);
    background: none;

    a {
      @include trim-field();
      @include font($med, 1.3, $light, $heading-font);
      font-style: normal;
      color: $first-color;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      span {
        @include font($med, 1.3, $light, $heading-font);
      }
    }
  }
}

// -------------------------------------
// Topics grid
// -------------------------------------

@mixin topics-grid($structure:'.views-row', $break-margin: '2n+1') {
  // Structure wrapper
  @include content-listings-wrapper($structure, $break-margin) {
    @include column(7);
    @include margin(null null $dp * 2 null);
    @include clearfix();
    max-height: $dp * 37;
    overflow: hidden;

    .node {
      height: $dp * 37;
      max-height: $dp * 37;
    }
  }
}




// -------------------------------------
// Topics general entity
// -------------------------------------
@mixin topics($target, $structure:none, $break-margin: false) {
  & {
    .node {
      @include trim-field();
      @include topic--gradient();
      @include margin(null null $dp * 2 null);
      @include padding($dp * 2 $dp * 3 $dp $dp * 3);
      background-color: $topic-color-base;
      display: block;
      cursor: pointer;

      &:hover {
        background-color: $topic-color-hover;

        .bg-image {
          &::before {
            background-image: linear-gradient($topic-gradient-dir, rgba($topic-color-hover, 0), rgba($topic-color-hover, 1));
          }
        }
      }

      header {
        @include trim();

        .node__title {
          @include topic--header();
        }
      }

      .bg-image {
        @include topic--gradient(absolute);
        @include position(absolute, 0 null null 0);
        @include size(100% $dp * 20);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        z-index: 0;
      }
    }
  }

  // Layouts
  // Grid
  @if $target == grid {
    @include topics-grid($structure, '2n+1');
  }
}
