// ============================================================================
//
// PAGES: CONTRIBUTORS
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------

// CONTRIBUTORS List page
.block-views-blockcontributors-block-1 {
  // Filters
  .view-filters {
    @include column(14, false, collapse, false);
    @include margin(null null $dp * 8 null);
    display: block;
    clear: both;

    fieldset {
      @include margin(null null 0 null);
    }

    label {
      display: none;
    }

    input.form-text {
      @include padding($dp * 2 0 !important);
      border-top: none;
      border-left: none;
      border-right: none;
    }

    .picker {
      padding-left: 0;
      top: 4px;
    }

    // Scaffold
    .js-form-item-country {
      @include column(2, false, collapse, false);

      @include respond(tablets) {
        width: columns(2);
      }

      @include respond(all-phones) {
        width: columns(4.2);
        margin-right: $dp * 1.2;
      }
    }

    .js-form-item-expertise {
      @include column(3);

      @include respond(tablets) {
        width: columns(4);
      }

      @include respond(all-phones) {
        width: columns(9);
      }
    }

    .js-form-item-name {
      @include column(7);

      @include respond(tablets) {
        width: columns(6);
      }

      @include respond(all-phones) {
        width: columns(10);
        margin-right: $dp * 1.2;
      }
    }

    .form-actions {
      @include column(2);

      @include respond(all-phones) {
        width: columns(2);
      }
    }
  }

  // Content
  .view-content {
    @include column(14, false, collapse, false);
    @include contributors(grid, '.views-row');
    display: block;
    clear: both;
  }
}


// CONTRIBUTORS detail page
.path-user {
  #block-tabs {
    display: none;
  }

  article.profile {
    @include clearfix();
    display: block;

    .contributor-sheet {
      @include column(3.5, false, collapse, false);

      .field__label {
        @include contributors--sheet--labels();
      }

      .field__items {
        @include contributors--sheet--items();
      }

      // contact
      .field--field-social-m {
        @include social-media-links();
      }

      // Ranking
      .field--field-ranking {
        .field__items {
          @include contributors--list--ranking();
        }
      }
    }

    .contributor-info {
      @include column(9);
      @include push(1.5);

      .field__label {
        display: none;
      }

      .field--name-field-profile-title .field__item {
        @include contributors--position--title();
      }
    }

  }

  .block-views-blockcontributions-block-1 {
    > h2 {
      @include header-block-separator();
    }

    .view-contributions {
      @include contributions(grid, '.views-row');
    }
  }

  #block-contactblock {
    .form-actions {
      text-align: center;

      #edit-preview {
        display: none;
      }
    }
  }
}
