// ============================================================================
//
// PAGES: COUNTRY AND REGION
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------

// REGION/COUNTRY detail
body.page-node-type-country,
body.page-node-type-region {

  .metadata {
    display: none;
  }

  .panel-block {
    @include clearfix();
    clear:both;
    float: none;
    display: none;

    &.__active {
      display: block;
    }
  }

  .content-sidenav {
    @include hide-before-dom-alter(true);

    .views-row.__disabled {
      display: none;
    }

    .site-btn {
      @include respond(tablets) {
        width: 100%;
        text-align: center;
      }

      .searchinexplore {
        @include respond(tablets) {
          @include fs(12px);
          padding: 10px !important;
        }
      }
    }
  }

  #block-pagetitle {
    .node-top {
      top: $dp * 7.5;
      left: $dp;

      @include respond(all-phones) {
        top: $dp;
        left: 3px;
      }
    }

    a.btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  #content-content {
    @include hide-before-dom-alter(true);
    min-height: 500px;

    @include respond(all-phones) {
      min-height: auto;
    }

    // Override separator line in mobile
    &.with-sidenav {
      &::before {
        @include respond(all-phones) {
          top: (-$dp * 2);
        }
      }
    }

    section.block-system-main-block {
      .field__label {
        @include text-secondary-header($first-color, 40px);
        @include margin(null null $dp * 2 null);
      }

      .text-formatted {
        @include column(12);
        @include margin(null null null columns(1.45));

        @include respond(tablets) {
          @include margin(null null null columns(1.8));
        }
      }
    }

    section:not(.block-system-main-block) {
      @include margin(null null $dp * 3 null);

      > h2 {
        @include text-secondary-header($first-color, 40px);
        @include margin(null null $dp * 2 null);
      }

      .view-content {
        > h3,
        > h3 a {
          @include text-secondary-header(rgba($first-color, 0.8), 30px);
          @include margin(null null $dp null);
          display: none;
        }
      }

      @include entry(list, '.views-row');

      &.block-views-blocknews-block-country-news,
      &.block-views-blocknews-block-region-news {
        @include news(list);

        .views-row {
          header {
            .node__title {
              @include news--header(small);
            }
          }
        }
      }

      &.block-views-blockcontributors-block-country-contributors,
      &.block-views-blockcontributors-block-region-contributors {
        .view-content {
          @include column(14, false, collapse, false);
          @include contributors(grid, '.views-row');
          display: block;
          clear: both;

          .views-row {
            @include column(4.6);

            .field--name-user-picture {
              display: none;
            }
          }
        }


        .view-footer {
          @include margin($dp * 6 null null null);

          .content {
            @include column(14, false, collapse, false);
            @include contributors(grid, '.views-row');
            display: block;
            clear: both;

            .views-row {
              @include column(4.6);
            }
          }
        }
      }

      .views-row .node {
        @include margin(null null 0 null);
      }
    }
  }

  .site-footer {
    @include margin(0 null null null);
  }
}
