// ============================================================================
//
// PAGES: ENTRIES (Explore)
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------

// ENTRY List
.block-views-blocklist-entries-block-1 {
  @include entry(grid, '.views-row');

  &.mode-list {
    @include entry(list, '.views-row');
  }
}

// ENTRY detail
.node-top{
  @include position(absolute, $dp * 3.4 null null 0);
  z-index: 20;

  @include respond(tablets) {
    @include position(absolute, $dp * 3.4 null null 0);
  }

  @include respond(all-phones) {
    @include position(absolute, -$dp null null 0);
  }

  .field--name-field-location-entry {
    @include entry--location();
  }

  .field--name-field-tax-section {
    @include entry--taxonomy();
    @include trim();

    &::after {
      display: none;
    }
  }
}

article.node--type-entry.node--view-mode-full {
  .node-top-hidden {
    display: none;
  }

  .node-header {
    @include column(10);
    @include clearfix();
    @include margin(null null $dp * 2 columns(2.45));
    clear: both;
    float: none;

    @include respond(all-phones) {
      clear: both;
      float: none;
    }

    .field--name-field-contributors {
      @include fancytiles(2,2,2);
      @include trim();
    }

    .node-date {
      @include entry--date();
      @include trim();
    }

    .field--name-field-external-link {
      @include entry--external-link();
      @include fancytiles(2,2,2);
      @include trim();
      text-align: right;

      a {
        @include bg-image ($img-path + 'link_arrow.svg', 19px, 15px);
        padding-right: $dp * 3;
        background-position: 100% 50%;
      }
    }
  }

  .field--name-field-tax-section {
    @include entry--taxonomy();
  }

  .field--name-field-location-entry {
    @include entry--location();
  }

  .field--name-field-related-entries {

    // Related separator
    .field__label {
      @include header-block-separator();
    }

    .field__items {
      @include entry(grid, '> .field__item');
    }
  }
}
