// ============================================================================
//
// PAGES: ENTRIES (Explore)
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------
.node-explore .messages__wrapper {
  display: none;
}


// ENTRY List
.block-views-blocklist-entries-block-1 {
  &,
  &._switch-on {
    @include entry(list, '.views-row');
  }

  &._switch-off {
    @include entry(grid, '.views-row');
  }

  // Filters

  .view-filters {
    @include hide-before-dom-alter();
    clear: both;

    .field {
      .field {
        @include trim();
        overflow: visible;
      }
    }

    .picker {
      padding-left: 0;
      top: 4px;

      @include respond(all-phones) {
        width: 100%;
      }
    }

    .form--filter {
      @include column(12, false, collapse, false);

      @include respond(tablets) {
        width: columns(11);
      }

      fieldset {
        @include trim();
        @include margin($dp null);

        legend {
          @include trim();
        }
      }

      label {
        display: none;
      }

      .js-form-type-select {
        @include column(3.8);
        margin-left: $gutter * 1.5;

        @include respond(tablets) {
          width: columns(3.4);
          margin-left: $gutter;
        }

        &.js-form-item-claim {
          margin-left: 0;
        }
      }

      .site-btn {
        @include column(2.2);
        margin-left: $gutter * 1.5;

        @include respond(tablets) {
          width: columns(3.5);
        }

        a {
          @include button-second();
          width: 100%;
          text-align: center;
        }
      }
    }

    .form--sort {
      @include column(2);
      @include padding($dp 0 0 $dp * 2);
      border-left: 1px solid $hr-color;

      @include respond(tablets) {
        width: columns(2.5);
      }

      @include respond(all-phones) {
        @include padding($dp 0 0 0);
        border-left: none;
      }

      .picker {
        top: 6px;

        @include respond(all-phones) {
          width: 100%;
        }
      }
    }

    .form--modal {
      &.modal.active {
        > .content {
          width: $dp * 64;
          height: 90%;
          max-height: 100%;
          top: 1%;

          @include respond(tablets) {
            width: 70%;
          }

          @include respond(all-phones) {
            width: 100%;
          }

          .content-inner {
            overflow-x: hidden;
            overflow-y: auto;
            height: 80%;

            .picker {
              width: 100%;
            }
          }

          .modal-actions {
            @include position(absolute, auto null $dp * 2 0);
            width: 100%;
            text-align: center;

            .site-btn {
              @include margin(0);
            }
          }
        }
      }

      .date-selectors {
        @include column(14, false, collapse, false);
        @include clearfix();

        .js-form-item {
          @include column(7);

          &:first-child {
            @include margin(null null null 0);
          }
        }
      }

      .form-item {
        @include margin(null null $dp * 5 null);
      }

      details {
        @include box-shadow(none);
        @include icon-insert('icon-down-dir', after);
        border: 1px solid $gray-10;

        &::after {
          @include trim();
          @include position(absolute, 12px 10px null auto);
          @include fs(20px);
          color: $fourth-color;
          border: 0;
        }

        &[open] {
          @include box-shadow($gray-10 0px 2px 5px);
          @include icon-change('icon-up-dir', after);

          summary {
            border-bottom: 1px solid $gray-10;
          }
        }

        summary {
          @include padding($dp + 3 $dp * 5 $dp + 3 $dp);
          @include font($normal, 1.2, $semibold, $body-font);
          color: $fourth-color;
          cursor: pointer;

          outline: none;

          &::-webkit-details-marker {
            display:none;
          }
        }

        .details-wrapper {
          @include padding($dp 0);
          @include clearfix();
          display: block;
          clear:both;

          >.form-checkboxes {

            .checkbox {
              @include padding(null null null $dp * 3);

              span {
                @include position(absolute, null null null 0);
                display: block;
              }
            }

            >.form-type-checkbox {
              @include column(6);
              @include margin(null $dp * 2.5 $dp / 2 null);
              min-height: $dp * 5;
            }

            >ul {
              >li {
                @include column(6);
                @include margin(null $dp * 2.5 $dp / 2 null);
                min-height: $dp * 32;

                .form-item {
                  @include margin(null null $dp null);

                  label {
                    font-weight: $semibold;
                  }
                }

                ul {
                  li {
                    .form-type-checkbox {
                      @include margin(null null $dp / 2 null);
                      min-height: $dp * 4;

                      label {
                        font-weight: $regular;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .form--advanced {
      fieldset {
        @include margin(null null $dp null);
        max-height: $dp * 2;
      }

      .advanced-tag {
        @include position(relative);
        @include margin(0 $dp $dp 0 !important);
        @include font($normal, 1.2, $semibold, $body-font);
        padding: $dp $dp * 3.5 $dp $dp * 2 !important;
        color: $fourth-color;
        background-color: rgba($fourth-color, 0.1);
        display: inline-block;

        a {
          @include trim();
          @include icon-insert('icon-cancel', before);
          @include position(absolute, $dp / 2 $dp / 2 null auto);
          @include font($normal, 1.2, $semibold, $body-font);
          @include size($dp * 2);
          color: $fourth-color;
          display: inline-block;
          overflow: hidden;
          background-color: transparent;

          &::before {
            @include trim();
            @include position(relative, 1px 0 null null);
            @include padding(2px 20px 20px 3px);
            @include fs(24px);
            color: $fourth-color;
            background-color: transparent;
            border: 0;
          }

          &:hover {
            &::before {
              color: $white;
            }

            background-color: $fourth-color;
          }
        }
      }
    }

    .form--bottom {
      @include margin($dp * 3 null null null);
      @include clearfix();

      .js-form-type-textfield {
        @include column(7, false, collapse, false);

        @include respond(tablets) {
          width: columns(4);
        }

        label {
          @include font($normal - 1, 1, $semibold, $heading-font);
          @include position(relative, $dp null null null);
          color: $fourth-color;
          text-transform: capitalize;
          display: inline-block;
          min-height: $dp * 2;
        }

        .form-text {
          display: inline-block;
          width: 70%;
          border-top: none;
          border-left: none;
          border-right: none;

          @include respond(tablets) {
            width: 100%;
          }

          @include respond(all-phones) {
            width: 100%;
          }
        }
      }

      & > .site-btn {
        @include column(3);
        @include padding(null 3px);

        @include respond(tablets) {
          width: columns(3.9);
        }

        @include respond(all-phones) {
          @include margin(null null $dp * 2 null);
        }

        a {
          width: 100%;
          background-color: $white;
          color: $third-color;
          border: 1px solid $third-color;
          text-align: center;

          &:hover {
            background-color: $third-color;
            color: $white;
          }
        }
      }

      .form-actions {
        @include column(2);
        @include padding(null 3px);

        @include respond(tablets) {
          width: columns(2.9);
        }

        @include respond(all-phones) {
          @include margin(null null $dp * 2 null);
        }

        .site-btn {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }

      .listswitch {
        @include column(2);
        @include padding($dp * 2.4 null null null);
        text-align: right;

        @include respond(all-phones) {
          display: none;
        }
      }
    }
  }

  .view-content,
  .view-empty {
    display: block;
    clear: both;

    .views-row {
      @include transition(all .3s ease);
    }
  }
}

// ENTRY detail
.node-top{
  @include position(absolute, $dp * 3.4 null null 0);
  z-index: 20;

  @include respond(tablets) {
    @include position(absolute, $dp * 3.4 null null 0);
  }

  @include respond(all-phones) {
    @include position(absolute, -$dp null null 0);
  }

  .field--name-field-location-entry {
    @include entry--location();

    .field__label {
      display: none;
    }
  }

  .field--name-field-tax-section {
    @include entry--taxonomy();
    @include trim();

    .field__label {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

article.node--type-entry.node--view-mode-full {
  .node-top-hidden {
    display: none;
  }

  .node-header {
    @include column(10);
    @include clearfix();
    @include margin(null null $dp * 2 columns(2.45));
    clear: both;
    float: none;

    @include respond(all-phones) {
      clear: both;
      float: none;
    }

    .field--name-field-contributors {
      @include fancytiles(2,2,2);
      @include trim();
    }

    .node-date {
      @include fancytiles(2,2,2);
      @include entry--date();
      @include trim();
    }

    .field--name-field-external-link {
      @include entry--external-link();
      @include fancytiles(2,2,2);
      @include trim();
      text-align: right;

      a {
        @include bg-image ($img-path + 'link_arrow.svg', 19px, 15px);
        padding-right: $dp * 3;
        background-position: 100% 50%;
      }
    }
  }

  .field--name-field-tax-section {
    @include entry--taxonomy();
  }

  .field--name-field-location-entry {
    @include entry--location();
  }

  .field--name-field-related-entries {

    // Related separator
    .field__label {
      @include header-block-separator();
    }

    .field__items {
      @include entry(grid, '> .field__item');
    }
  }
}
