// ============================================================================
//
// PAGES: MAP
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------
.block-wilmap-map {
  .wilmap {
    @include position(relative, null null null null);
    display: block;
    min-width: 250px;
    min-height: 250px;
    z-index: 0;

    .wilmap-logomap {
      @include position(absolute, 0 null null 10px);
      @include size(105px auto);
      @include margin(null null null null);
      background-color: $third-color;
      border: 1px solid $white;
      border-top: none;
      z-index: 660;

      a {
        @include font($normal - 3, 1.2, $bold, $body-font);
        color: $second-color;
        padding: $dp * 1.2;
        text-align: center;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
      }
    }

    #mobile-popup {
      @include position(absolute, null null 50% 0);
      display: block;
      width: 100%;
      z-index: 650;
      text-align: center;
      background: transparent;

      .content {
        width: 301px;
        min-height: 30px;
        display: block;
        border: 1px solid red;
        position: relative;
        margin: 0 auto;

        a.close {
          @include position(absolute, 5px 5px null null);
          display: block;
          boder: 1px solid green;
          @include size(20px);
        }
      }
    }

    .actions {
      @include position(absolute, null $dp * 1.5 $dp * 2.5 null);
      display: block;
      width: 100%;
      z-index: 650;
      text-align: right;

      @include respond(all-phones) {
        @include position(absolute, null 0 $dp * 2.5 null);
        text-align: center;
      }

      .btn {
        @include margin(null null null $dp);

        &:first-child {
          @include margin(null null null 0);
        }
      }

      #calllist.btn {
        @include button-white();
        border: 1px solid $third-color !important;
        display: none;

        @include respond(all-phones) {
          display: inline-block;
        }
      }
    }

    #map-legend {
      @include position(absolute, null null $dp * 2 $dp * 1.5);
      z-index: 660;

      @include respond(all-phones) {
        @include position(absolute, $dp * 12 null null $dp);
      }

      a.toggle {
        @include trim();
        display: block;
        clear: both;
        float: none;
        cursor: pointer !important;

        i {
          @include trim();
          @include padding($dp - 2 $dp * 1.28);
          @include fs(15px);
          @include icon-change('icon-up-open-big', before);
          border: 1px solid $hr-color;
          background-color: $second-color;
          color: $first-color;

          &:hover {
            background-color: $gray-10;
          }
        }

        &.active {
          i {
            @include icon-change('icon-down-open-big', before);
          }
        }
      }

      .drawer {
        width: $dp * 22;
        background-color: $second-color;
        border: 0px solid transparent;

        &.active {
          @include margin($dp null null null);
          background-color: $second-color;
          border: 1px solid $hr-color;
        }

        .drawer-inner {
          @include padding($dp * 1.5);
        }

        h3 {
          @include trim();
          @include margin(null null $dp / 2 null);
          @include font($normal - 1, 1.1, $bold, $body-font);
          color: $first-color;
        }

        .description,
        .description p {
          @include trim();
          @include font($normal - 1, 1.1, $regular, $body-font);
          color: $fourth-color;
          font-style: normal;
        }

        .color-ranges {
          @include trim();
          margin-top: $dp * 1.5;

          ul {
            @include trim();

            li {
              @include trim();
              position: relative;
              display: inline-block;

              &:first-child {
                .text {
                  text-align: left;
                }
              }

              &:last-child {
                .text {
                  text-align: right;
                }
              }

              .text {
                @include font($normal - 1, 1.1, $regular, $body-font);
                @include padding($dp * 1.5 null null null);
                color: $fourth-color;
                text-align: center;
              }

              .color {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: $dp;

                &.base {
                  background-color: #e4dfd3;
                  z-index: 10;
                }
              }
            }
          }
        }
      }
    }

    // Embed override
    &.__embed {
      #map-legend {
        @include respond(all-phones) {
          @include position(absolute, auto null $dp $dp);
        }
      }
    }
  }
}

// Page
body.node-map {
  .layout-main-wrapper {
    @include reset-grid();

    @include respond(tablets) {
      @include reset-grid();
    }

    @include respond(all-phones) {
      @include reset-grid();
    }

    .layout-main {
      @include reset-grid();
    }
  }

  .footer_first_wrap {
    display: none;
  }
}
