// ============================================================================
//
// PAGES: NEWS
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------

// NEWS List
.block-views-blockcontinent-block-continents {
  @include column(4, false, collapse, false);

  .views-row {
    @include trim();

    a {
      @include trim();
      @include red-caps-link();
      @include margin(null null $dp * 3 null);
      display: block;
    }
  }
}

.block-views-blocknews-block-1 {
  @include column(10);
  @include news(list);
}


// NEWS detail
article.node--type-news.node--view-mode-full {

  .field--name-field-date-published {
    @include news--date();
    @include clearfix();
    @include padding(null null null columns(2.45));

    @include respond(tablets) {
      @include padding(null null null columns(2.8));
    }
  }

  // Related separator
  .field__label {
    @include header-block-separator();
  }

  .field--name-field-related-topics {
    .field__items {
      @include topics(grid, '> .field__item');
    }
  }

  .field--name-field-related-news {
    .field__items {
      @include news(grid, '> .field__item');
    }
  }

  .action {
    @include margin($dp * 4 null $dp * 3 null);
    text-align: center;
  }

}
