// ============================================================================
//
// PAGES: NEWS
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------

// NEWS List
.block-views-blocknews-block-1,
.block-views-blocknews-block-2 {
  @include news(list);

  .content {
    min-height: $dp * 70;

    @include respond(all-phones) {
      min-height: initial;
    }
  }
}


// NEWS detail
article.node--type-news.node--view-mode-full {
  .node-header {
    @include column(10);
    @include clearfix();
    @include margin(null null $dp * 2 columns(2.45));
    clear: both;
    float: none;

    .node-date {
      @include entry--date();
      @include trim();
    }
  }

  .field--name-field-original-source {
    @include trim();
    @include column(10);
    @include clearfix();
    @include margin(null null $dp * 5 columns(2.45));
    @include padding($dp * 2);
    display: block;
    clear: both;
    float: none;
    background-color: $gray-10;

    p,
    a {
      @include trim();
      @include font($normal - 3, 1.6, $medium, $body-font);
      font-style: italic;
    }
  }

  // Related separator
  .field__label {
    @include header-block-separator();
  }

  .field--name-field-related-topics {
    .field__items {
      @include topics(grid, '> .field__item');
    }
  }

  .field--name-field-related-news {
    .field__items {
      @include news(grid, '> .field__item');
    }
  }
}
