// ============================================================================
//
// PAGES: TOPICS
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------


// -------------------------------------
// Scaffold
// -------------------------------------

// TOPICS List
.block-views-blocktopics-block-1 {
  @include topics(grid, '.views-row');
}


// TOPICS detail
article.node--type-topics.node--view-mode-full {
  > .node__content {
      .node-body {
      > .text-formatted {
        p, h2, h3, h4, h5, h6 {
          @include column(12);
          @include margin(null null null columns(1.45));

          @include respond(tablets) {
            @include margin(null null null columns(1.8));
          }
        }
      }
    }
  }

  .node-header {
    @include column(12);
    @include margin(null null $dp * 2 columns(1.45));

    @include respond(tablets) {
      @include margin(null null $dp * 2 columns(1.8));
    }

    .node-date {
      @include entry--date();
      @include trim();
    }
  }


  .field--name-field-related-topics {

    // Related separator
    .field__label {
      @include header-block-separator();
    }

    .field__items {
      @include topics(grid, '> .field__item');
    }
  }
}

.block-views-blockentries-block-1 {
  > h2 {
    @include text-secondary-header($first-color, 40px);
    @include margin(null null $dp * 2 null);
  }

  h3 {
    @include text-secondary-header(rgba($first-color, 0.8), 30px);
    @include margin(null null $dp null);
  }

  @include entry(list, '.views-row');

  .view-highlighted-entries {
    h3.country-block-title {
      @include margin($dp * 2 null null null);
      @include padding($dp * 2 null null null);
      border-top: 1 solid rgba($fourth-color, 0.2) !important;
    }

    @include entry(list, '.views-row', false, true);
  }
}
