<header class="b-menu">
  <a class="logo" href="{{ path('<front>') }}" rel="home">
    <img src="/{{ directory }}/images/logo.png" alt="logo">
  </a>
  <div class="contain-navigation">
    <nav>
      <ul>
        <li class="map-option">
          <a href="/map">Map</a>
        </li>
        <li class="explore-option">
          <a href="/explore">Explore</a>
        </li>
        <li class="topics-option">
          <a href="/topics">Topics</a>
        </li>
        <li class="news-option">
          <a href="/news">News</a>
        </li>
        <li class="about-option">
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
    <form class="search-form">
      <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
      <input class="search-box" type="text" placeholder="Search">
    </form>
  </div>
</header>
<div class="search-modal">
  <div class="container-search-modal">
    <div class="result-search country-search">
      <h4>country</h4>
      <ul class="list-search">
        <li>Niger</li>
        <li>Nigeria</li>
      </ul>
    </div>
    <div class="result-search topic-search">
      <h4>topic</h4>
      <ul class="list-search">
        <li>Nigerian lorem ipsum</li>
      </ul>
    </div>
    <div class="result-search entry-search">
      <h4>entry</h4>
      <ul class="list-search">
        <li>Nigerian Copyright</li>
      </ul>
    </div>
    <div class="result-search news-search">
      <h4>news</h4>
      <ul class="list-search">
        <li>-no results-</li>
      </ul>
    </div>
  </div>
</div>
<div class="search-back"></div>
