<!-- Block with all the icons -->
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-close" viewBox="0 0 32 32">
<title>close</title>
<path class="path1" d="M25.16 2.533l-9.428 9.428-9.428-9.428c-1.041-1.041-2.73-1.041-3.771 0s-1.041 2.73 0 3.771l9.428 9.428-9.428 9.428c-1.041 1.041-1.041 2.73 0 3.771 1.043 1.043 2.73 1.041 3.771 0l9.428-9.428 9.428 9.428c1.041 1.041 2.73 1.041 3.771 0s1.041-2.73 0-3.771l-9.428-9.428 9.428-9.428c1.041-1.041 1.043-2.728 0-3.771-1.041-1.041-2.73-1.041-3.771 0z"></path>
</symbol>
<symbol id="icon-down-arrow" viewBox="0 0 41 32">
<title>down_arrow</title>
<path class="path1" d="M17.844 30.249c1.659 2.775 4.334 1.76 5.344 0.046l17.499-25.966c1.403-2.185 0.274-4.329-2.505-4.329h-35.077c-2.775 0-3.904 2.144-2.505 4.329l17.243 25.92z"></path>
</symbol>
<symbol id="icon-download_document" viewBox="0 0 32 32">
<title>download_document</title>
<path class="path1" d="M18 28h-14v-24h14v8h8v6h4v-8.8l-9.2-9.2h-20.8v32h18v-4zM24 20v6h-4l6 6 6-6h-4v-6h-4z"></path>
</symbol>
<symbol id="icon-externalLink" viewBox="0 0 32 32">
<title>externalLink</title>
<path class="path1" d="M0 0v32h32v-6h-4v2h-24v-24h24v2h4v-6h-32zM24 8l8 8-8 8v-16zM12 14h12v4h-12v-4z"></path>
</symbol>
<symbol id="icon-facebook" viewBox="0 0 16 32">
<title>facebook</title>
<path class="path1" d="M0 9.998h3.125v-3.038c0-1.339 0.034-3.404 1.008-4.684 1.024-1.355 2.432-2.276 4.852-2.276 3.943 0 5.604 0.562 5.604 0.562l-0.78 4.631c0 0-1.303-0.377-2.519-0.377s-2.304 0.436-2.304 1.652v3.531h4.985l-0.347 4.524h-4.638v15.714h-5.86v-15.714h-3.125v-4.524z"></path>
</symbol>
<symbol id="icon-left-arrow" viewBox="0 0 28 32">
<title>left_arrow</title>
<path class="path1" d="M1.41 13.811c-2.158 1.291-1.369 3.371-0.036 4.156l20.196 13.611c1.7 1.092 3.367 0.213 3.367-1.948v-27.282c0-2.158-1.668-3.036-3.367-1.948l-20.16 13.412z"></path>
</symbol>
<symbol id="icon-loading" viewBox="0 0 26 32">
<title>loading</title>
<path class="path1" d="M26 15.889c0-2.713-0.84-5.31-2.428-7.509-0.92-1.274-2.052-2.361-3.365-3.232-0.166-0.11-0.354-0.163-0.54-0.163-0.314 0-0.622 0.151-0.81 0.428-0.298 0.443-0.179 1.042 0.268 1.338 1.118 0.741 2.082 1.667 2.865 2.751 1.35 1.87 2.064 4.079 2.064 6.387 0 5.86-4.656 10.649-10.493 10.957l1.149-1.144c0.425-0.422 0.425-1.105 0-1.527-0.424-0.422-1.112-0.421-1.536 0l-2.841 2.828c-0.229 0.228-0.324 0.531-0.305 0.828-0.019 0.298 0.076 0.601 0.305 0.829l2.841 2.828c0.424 0.421 1.112 0.421 1.536 0 0.425-0.422 0.425-1.105 0-1.527l-1.189-1.184c6.928-0.291 12.479-5.952 12.479-12.888zM4.010 22.302c-1.35-1.87-2.064-4.078-2.064-6.386 0-5.86 4.656-10.649 10.493-10.958l-1.149 1.145c-0.425 0.421-0.424 1.105 0 1.527s1.112 0.421 1.536-0.001l2.841-2.828c0.229-0.227 0.324-0.53 0.306-0.828 0.018-0.298-0.077-0.6-0.306-0.828l-2.841-2.828c-0.424-0.422-1.112-0.422-1.536 0s-0.425 1.105 0 1.527l1.189 1.184c-6.928 0.29-12.479 5.951-12.479 12.888 0 2.713 0.84 5.309 2.428 7.508 0.92 1.274 2.052 2.362 3.365 3.232 0.166 0.111 0.354 0.163 0.54 0.163 0.314 0 0.622-0.15 0.81-0.428 0.298-0.442 0.179-1.041-0.268-1.337-1.118-0.742-2.082-1.667-2.865-2.752z"></path>
</symbol>
<symbol id="icon-right-arrow" viewBox="0 0 25 32">
<title>right_arrow</title>
<path class="path1" d="M23.595 13.811c2.158 1.291 1.369 3.371 0.036 4.156l-20.196 13.611c-1.7 1.092-3.367 0.213-3.367-1.948v-27.282c0-2.158 1.668-3.036 3.367-1.948l20.16 13.412z"></path>
</symbol>
<symbol id="icon-twitter" viewBox="0 0 39 32">
<title>twitter</title>
<path class="path1" d="M38.942 3.746c-1.431 0.635-2.974 1.065-4.587 1.257 1.65-0.987 2.917-2.553 3.511-4.418-1.543 0.917-3.25 1.579-5.074 1.936-1.454-1.552-3.531-2.521-5.831-2.521-4.409 0-7.986 3.577-7.986 7.989 0 0.626 0.069 1.234 0.206 1.819-6.64-0.334-12.526-3.511-16.469-8.35-0.688 1.186-1.081 2.558-1.081 4.021 0 2.77 1.41 5.216 3.554 6.649-1.31-0.039-2.542-0.402-3.621-0.997v0.098c0 3.872 2.754 7.102 6.411 7.833-0.672 0.187-1.376 0.281-2.107 0.281-0.514 0-1.015-0.048-1.502-0.142 1.015 3.173 3.966 5.486 7.463 5.545-2.734 2.144-6.181 3.422-9.922 3.422-0.645 0-1.282-0.037-1.906-0.11 3.536 2.263 7.735 3.586 12.247 3.586 14.697 0 22.731-12.171 22.731-22.729 0-0.347-0.007-0.695-0.023-1.035 1.561-1.127 2.919-2.533 3.986-4.135z"></path>
</symbol>
<symbol id="icon-up-arrow" viewBox="0 0 41 32">
<title>up_arrow</title>
<path class="path1" d="M17.844 1.725c1.659-2.775 4.334-1.76 5.344-0.046l17.499 25.966c1.403 2.185 0.274 4.329-2.505 4.329h-35.077c-2.775 0-3.904-2.144-2.505-4.329l17.243-25.92z"></path>
</symbol>
<symbol id="icon-youtube" viewBox="0 0 48 32">
<title>youtube</title>
<path class="path1" d="M45.511 24.039v-16.221c0 0 0-7.818-7.843-7.818h-29.828c0 0-7.84 0-7.84 7.818v16.221c0 0 0 7.818 7.84 7.818h29.828c0 0 7.843 0 7.843-7.818zM31.591 15.952l-14.899 8.723v-17.448l14.899 8.725z"></path>
</symbol>
<symbol id="icon-search" viewBox="0 0 32 32">
<title>searchicon</title>
<path class="path1" d="M22.047 25.064c-2.293 1.678-5.121 2.669-8.181 2.669-7.658 0-13.867-6.208-13.867-13.867s6.208-13.867 13.867-13.867c7.658 0 13.867 6.208 13.867 13.867 0 3.059-0.991 5.887-2.669 8.181l6.311 6.311-3.017 3.017-6.311-6.311zM13.867 23.467c5.302 0 9.6-4.298 9.6-9.6s-4.298-9.6-9.6-9.6c-5.302 0-9.6 4.298-9.6 9.6s4.298 9.6 9.6 9.6z"></path>
</symbol>
<symbol id="icon-minus" viewBox="0 0 32 32">
<title>icon-minus-round</title>
<path class="path1" d="M26.087 14h-20.175c-1.056 0-1.913 0.894-1.913 2s0.856 2 1.913 2h20.175c1.056 0 1.913-0.894 1.913-2s-0.856-2-1.913-2z"></path>
</symbol>
<symbol id="icon-plus" viewBox="0 0 32 32">
<title>icon-plus</title>
<path class="path1" d="M28 14h-10v-10c0-1.104-0.896-2-2-2s-2 0.896-2 2v10h-10c-1.104 0-2 0.896-2 2s0.896 2 2 2h10v10c0 1.104 0.896 2 2 2s2-0.896 2-2v-10h10c1.104 0 2-0.896 2-2s-0.896-2-2-2z"></path>
</symbol>
<symbol id="icon-loading" viewBox="0 0 26 32">
<title>loading</title>
<path class="path1" d="M26 15.889c0-2.713-0.84-5.31-2.428-7.509-0.92-1.274-2.052-2.361-3.365-3.232-0.166-0.11-0.354-0.163-0.54-0.163-0.314 0-0.622 0.151-0.81 0.428-0.298 0.443-0.179 1.042 0.268 1.338 1.118 0.741 2.082 1.667 2.865 2.751 1.35 1.87 2.064 4.079 2.064 6.387 0 5.86-4.656 10.649-10.493 10.957l1.149-1.144c0.425-0.422 0.425-1.105 0-1.527-0.424-0.422-1.112-0.421-1.536 0l-2.841 2.828c-0.229 0.228-0.324 0.531-0.305 0.828-0.019 0.298 0.076 0.601 0.305 0.829l2.841 2.828c0.424 0.421 1.112 0.421 1.536 0 0.425-0.422 0.425-1.105 0-1.527l-1.189-1.184c6.928-0.291 12.479-5.952 12.479-12.888zM4.010 22.302c-1.35-1.87-2.064-4.078-2.064-6.386 0-5.86 4.656-10.649 10.493-10.958l-1.149 1.145c-0.425 0.421-0.424 1.105 0 1.527s1.112 0.421 1.536-0.001l2.841-2.828c0.229-0.227 0.324-0.53 0.306-0.828 0.018-0.298-0.077-0.6-0.306-0.828l-2.841-2.828c-0.424-0.422-1.112-0.422-1.536 0s-0.425 1.105 0 1.527l1.189 1.184c-6.928 0.29-12.479 5.951-12.479 12.888 0 2.713 0.84 5.309 2.428 7.508 0.92 1.274 2.052 2.362 3.365 3.232 0.166 0.111 0.354 0.163 0.54 0.163 0.314 0 0.622-0.15 0.81-0.428 0.298-0.442 0.179-1.041-0.268-1.337-1.118-0.742-2.082-1.667-2.865-2.752z"></path>
</symbol>
</defs>
</svg>
