// ============================================================================
//
// COMPONENTS: DATASHEET
//
// ============================================================================

.fields-datasheet {
  @include hide-before-dom-alter();
  @include clearfix();
  margin: $dp * 5 0 !important;
  padding: 0 !important;
  width: 100%;
  float: none;
  clear: both;
  display: block;

  .fields-group {
    width: 100%;
    @include clearfix();

    &.__show {
      display: block;
    }
    &.__hide {
      display: none;
    }
  }

  .datasheet-actions {
    @include padding($dp * 2 0);
    text-align: center;

    .btn,
    .site-btn a {
      @include button-second();
    }
  }

  .field {
    @include clearfix();
    margin: 0 !important;
    padding: 0 !important;
    width: 50%;
    float: left;
    min-height: $dp * 10;

    @include respond(all-phones) {
      width: 100%;
      display: block;
      clear: both;
      float: none;
    }

    .field__label {
      margin: 0 !important;
      padding: $dp $dp * 3 $dp $dp * 1.5 !important;
      border: 0 !important;
      font-family: $base-font-family !important;
      font-size: $normal !important;
      font-size: rem($normal !important);
      font-weight: $semibold !important;
      line-height: $normal * 1.2 !important;
      line-height: rem($normal * 1.2 !important);
      color: $fourth-color !important;
      text-transform: uppercase !important;
      background-color: lighten($fifth-color, 10);
    }

    .field__items,
    .field__item {
      &,
      a,
      a:hover {
        margin: 0 !important;
        padding: $dp $dp * 1.5 $dp $dp * 1.5 !important;
        min-height: $dp * 5;
        text-decoration: none;
        color: $first-color;
        cursor: default;

        .field__item {
          margin: 0 0 $dp 0 !important;
          padding: 0 !important;
          min-height: auto;
        }
      }
    }
  }
}
