// ============================================================================
//
// COMPONENTS: DRUPAL PAGER
//
// ============================================================================


// -------------------------------------
// Specific Settings: Vars & Mixins
// -------------------------------------

$paginator-color-text:                  lighten($fourth-color, 15);
$paginator-bgcolor:                     $second-color;
$paginator-border:                      none;
$paginator-active-color-text:           $third-color;
$paginator-active-bgcolor:              $second-color;
$paginator-fontfamily:                  $base-font-family;
$paginator-fontsize:                    16px;
$paginator-fontweight:                  $medium;
$paginator-itemspace:                   0 8px;
$paginator-inner-padding:               10px 3px;
$paginator-radius:                      $metro-radius;

@mixin pager(){
  @include trim();
  @include position(relative);
  @include padding($dp * 2 0);
  @include margin(null auto $dp * 7 auto);
  @include clearfix();
  clear: both;
  display: table;

  ul,
  li {
    @include trim();
    @include reset-list();
    display: inline-block;
  }

  .pager__item {
    @include margin($paginator-itemspace);
    @include padding($paginator-inner-padding);
    @include font($paginator-fontsize, 1, $paginator-fontweight, $paginator-fontfamily);
    @include border-radius($paginator-radius);
    color: $paginator-color-text;
    background-color: $paginator-bgcolor;
    border: $paginator-border;
    overflow: hidden;

    a {
      @include trim();
      @include padding($paginator-inner-padding);
      @include font($paginator-fontsize, 1, $paginator-fontweight, $paginator-fontfamily);
      @include size(100%);
      color: $paginator-color-text;
      background-color: transparent;
      display: block;
      text-decoration: none;
      padding: $paginator-inner-padding;
      border-bottom: 4px solid transparent;
    }

    &.is-active,
    &:hover {
      @include padding($paginator-inner-padding);
      @include font($paginator-fontsize, 1, $paginator-fontweight, $paginator-fontfamily);
      color: $paginator-active-color-text;
      background-color: $paginator-active-bgcolor;

      a {
        @include padding(0);
        color: $paginator-active-color-text;
        background-color: transparent;
        display: block;
        text-decoration: none;
        padding: $paginator-inner-padding;
        font-weight: $semibold;
        border-bottom: 4px solid $paginator-active-color-text;
      }
    }
  }
}


// -------------------------------------
// Scaffold
// -------------------------------------

.pager {
  @include pager();
  @include padding(null null 0 null);

  ul {
    height: $dp * 3.4;

    .pager__item--first,
    .pager__item--last {
      display: none;
    }

    .pager__item--previous,
    .pager__item--next {
      @include position(relative);

      @include respond(all-phones) {
        @include position(absolute, $dp * 8 null null null);
        width: 40%;
        display: block;
        text-align: center;
      }

      &:hover {
        color: $white;
        border-bottom: none !important;
        background-color: transparent;

        a {
          @include default-button();
        }
      }

      a {
        @include default-button();
        color: $white;
        border-bottom: none;

        &:hover {
          color: $white;
          border-bottom: none;
        }
      }
    }

    .pager__item--previous {
      @include respond(all-phones) {
        @include position(absolute, $dp * 8 null null 0);
      }
    }

    .pager__item--next {
      @include respond(all-phones) {
        @include position(absolute, $dp * 8 0 null auto);
      }
    }
  }
}
