// ============================================================================
//
// COMPONENTS: MAP
//
// ============================================================================

.leaflet-container {
  background-color: #f7f6f2;

  .leaflet-control-zoom {
    @include position(relative, 70px null null null);
    @include border-radius($metro-radius);
    border: 1px solid $hr-color;
    background-color: $second-color;

    @include respond(tablets) {
      @include position(relative, 70px null null null);
    }

    @include respond(all-phones) {
      @include position(relative, 15px null null null);
    }

    a {
      @include text-shadow(none);
      width: 40px;
      height: 40px;
      line-height: 35px;
      border-bottom: 1px solid $hr-color;
      color: $first-color;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .leaflet-map-pane {
    // Solve the problem with tiles in custom panes.
    .leaflet-labels-pane img {
    	max-width: none !important;
    }
  }

  .leaflet-popup-pane {
    .leaflet-popup {
      overflow: hidden;
      padding-bottom: $dp * 2;
      left: 0 !important;
      bottom: 0 !important;
      margin-bottom: 0;
      border-left: 1px solid darken($third-color, 3);
      border-right: none;

      .leaflet-popup-content-wrapper {
        @include border-radius($metro-radius);
        background-color: $third-color;
        border: none;
        overflow: hidden;

        .leaflet-popup-content {
          @include margin(0);
          @include padding(0);
          width: $dp * 30 !important;
        }

        .popup-inner {
          position: relative;
          top: -1px;
          right: -1px;
          width: $dp * 30;

          .popup-inner-left {
            @include padding($dp);
            @include font($normal - 1, 1, $regular, $body-font);
            color: $second-color;
            text-align: center;
            width: 30%;
            float: left;
            display: block;

            span {
              @include font($large - 8, 1, $extra-light, $body-font);
              @include margin(null null $dp / 2 null);
              display: block;
            }
          }

          .popup-inner-right {
            position: relative;
            background-color: $second-color;
            width: 70%;
            float: right;
            display: block;
            min-height: $dp * 9;

            .popup-info {
              @include padding($dp * 1.5 $dp * 2.5 $dp * 5 $dp * 2.5);

              p {
                @include trim();
                @include margin(null null $dp null);
                @include font($normal - 1, 1.1, $regular, $body-font);
                color: $fourth-color;

                strong {
                  @include font($normal - 1, 1.1, $bold, $body-font);
                  color: $first-color;
                }
              }

              ul {
                li {
                  @include margin(null null $dp / 2 null);
                  @include padding(null null null $dp * 2.5);
                  @include position(relative);
                  @include font($normal - 1, 1.1, $regular, $body-font);
                  color: $fourth-color;

                  span {
                    @include position(absolute, 0 null null 0);
                    @include fw($bold);
                    width: $dp * 2;
                    text-align: center;
                  }
                }
              }
            }

            .popup-actions {
              @include position(absolute, auto null -2px 0);
              width: 100%;

              a.btn {
                @include button-second();
                display: block;
                width: 100%;
              }
            }
          }
        }
      }

      .leaflet-popup-tip-container {
        left: 0;
        bottom: 1px;

        .leaflet-popup-tip {
          background-color: $third-color;
          width: 23px;
          height: 23px;
          margin: -10px auto 0;
        }
      }

      .leaflet-popup-close-button {
        position: absolute;
        top: 0;
        right: 0;
      }

      &.__no-data {
        border-left: none;
        border-right: none;

        .leaflet-popup-content-wrapper {
          background-color: $white;

          .popup-inner {
            .popup-inner-right {
              width: 100%;
              min-height: $dp * 3;

              .popup-info {
                @include padding($dp * 2 $dp);
                @include font($normal - 2, 1.1, $bold, $body-font);
                color: $first-color;
                text-align: center;

                i {
                  &::before {
                    @include fs($normal);
                  }
                }
              }
            }
          }
        }

        .leaflet-popup-tip-container {
          .leaflet-popup-tip {
            background-color: $white;
          }
        }

        &.__right,
        &.__bottom {
          border-left: none;
          border-right: none;

          .leaflet-popup-tip-container {
            .leaflet-popup-tip {
              background-color: $white;
            }
          }
        }

        &.__bottom {
          bottom: -80px !important;
        }
      }

      /* Override orientation */
      &.__right {
        left: -303px !important;
        border-left: none;
        border-right: 1px solid darken($fifth-color, 3);

        .leaflet-popup-tip-container {
          left: auto;
          right: -$dp * 2;

          .leaflet-popup-tip {
            background-color: $fifth-color;
          }
        }
      }

      &.__bottom {
        bottom: -200px !important;
        padding-top: 20px;
        padding-bottom: 0;

        .leaflet-popup-tip-container {
          bottom: auto;
          top: 0;

          .leaflet-popup-tip {
            margin: 10px auto 0;
          }
        }

        .leaflet-popup-close-button {
          top: 20px;
        }

        &.__right {
          .leaflet-popup-tip-container {
            .leaflet-popup-tip {
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
