// ============================================================================
//
// COMPONENTS: MODAL MAP LAYER
//
// ============================================================================

#modal-maplayer {

  h3 {
    margin-bottom: $dp * 3;
  }

  .content {
    @include clearfix();
    @include padding(null null $dp * 9 null);
    min-height: auto;

    @include respond(all-phones) {
      top: 0%;
      width: 100%;
      height: 100%;
      min-height: 0;
      max-height: 100%;
    }

    ul {
      @include trim();
      @include clearfix();
      @include column(14, center, collapse, false);
      @include margin(null null $dp * 2 null);

      li.layer-item {
        @include position(relative, null null null null);

        &:nth-child(even) {
          @include column(7, false, collapse, false);
        }

        &:nth-child(odd) {
          @include column(7);
        }

        label {
          @include padding(null $dp * 1.5 null $dp * 3);

          span {
            @include position(absolute, 0 null null 0);
          }
        }
      }
    }

    .modal-actions {
      a.btn,
      .site-btn {
        margin-left: $dp / 2;

        &:first-child {
          margin-left: 0;
        }

        &.modal-clear,
        .modal-clear {
          @include button-white();
          border: 1px solid $third-color !important;
        }
      }
    }
  }
}
