// ============================================================================
//
// COMPONENTS: MODAL SHARE
//
// ============================================================================

#modal-share {

  h3 {
    margin-bottom: $dp * 3;
  }

  .content {
    min-height: 48%;
  }

  .tabs {
    margin-top: 0 !important;
  }

  .tab-nav {
    border-bottom: 5px solid lighten($fifth-color, 10);
    margin-bottom: $dp * 3;

    @include respond(all-phones) {
      margin-bottom: $dp * 1.5;
    }

    li {
      @include box-shadow(none);
      @include border-radius($metro-radius);
      border: none;
      position: relative;
      top: 14px;

      a {
        @include trim();
        @include red-caps-link();
        @include margin(null null $dp null);
        @include box-shadow(none);
        @include border-radius($metro-radius);
        @include text-shadow(none);
        border: none;
        color: $fourth-color;
        font-weight: $semibold;
        text-decoration: none;
        text-align: left;
        opacity: 1 !important;
        border-bottom: 5px solid transparent;
      }

      &.active {
        a {
          border-bottom: 5px solid #b3001e;
          height: $dp * 3.5;
        }
      }
    }
  }

  .tab-content {
    text-align: center;
  }

  .sharebutton {
    width: 45%;
    margin: $dp * 2 0 $dp * 2 $dp * 3 !important;

    &:first-child {
      margin: $dp * 2 0 $dp * 2 0 !important;
    }

    @include respond(tablets) {
      width: 48%;
      margin: $dp * 2 0 $dp * 2 $dp !important;
    }

    @include respond(all-phones) {
      width: 100%;
      margin: 0 0 $dp * 2 0 !important;
    }

    &.fb {
      @include default-button($second-color, #3a589b);
    }

    &.twitter {
      @include default-button($second-color, #598dca);
    }
  }

  .copy-url {
    @include trim();
    
    .input {
      width: 80%;

      @include respond(all-phones) {
        width: 55%;
      }
    }

    .result {
      @include font($normal - 2, 1, $regular, $body-font);
      @include padding($dp);

      &.success {
        color: $success-color;
      }

      &.error {
        color: $danger-color;
      }
    }
  }
}
