// ============================================================================
//
// COMPONENTS: MAP COUNTRY LIST
//
// ============================================================================

body.node-map {
  .ui-autocomplete {
    padding-left: 0;
    padding-right: 0;
    padding-top: $dp * 4 !important;

    .continent-list-item {
      @include margin(null null $dp * 2 null);

      a {
        @include font($med, 1, $bold, $body-font);
        color: $second-color;
        text-decoration: none;

        &:hover {
          color: $second-color;
          text-decoration: underline;
        }
      }
    }

    .continent-list-drawer {
      @include trim();
      background-color: transparent;

      &.active {
        max-height: 2000px;
        background-color: transparent;
      }
    }

    .country-list-item {
      text-align: center;

      a {
        @include font($normal, 1, $regular, $body-font);
        color: $second-color;
        text-decoration: none;

        &:hover,
        &.active,
        &.hover {
          color: $second-color;
          text-decoration: underline;
        }
      }

      &.region {
        a {
          text-transform: uppercase;
        }
      }
    }
  }
}
