// ============================================================================
//
// COMPONENTS: MAP
//
// ============================================================================

.leaflet-container {
  background-color: #f7f6f2;

  .leaflet-control-zoom {
    @include position(relative, 70px null null null);
  }

  .leaflet-map-pane {
    .leaflet-tile-pane {
      z-index: 900;
    }

    .leaflet-popup-pane {
      z-index: 1000;
    }
  }

}
