// ============================================================================
//
// COMPONENTS: MAP COUNTRY LIST
//
// ============================================================================

body.node-map {
  .ui-autocomplete {
    @include trim();
    @include image-overlay(rgba($third-color, 1), rgba($third-color, 0), 1, 180deg, sticky);
    padding: 0 !important;
    padding-top: $dp * 4  !important;
    padding-bottom: $dp * 8  !important;

    &:before {
      content:'';
      display: block;
      width: 100%;
      height: 30px;
      position: sticky;
      top: -33px;
      left: 0;
      z-index: 10;
    }

    .continent-list-item {
      @include margin(null null 0 null);

      a {
        @include font($med, 1, $bold, $body-font);
        @include padding($dp $dp * 3);
        @include margin(0 null);
        display: block;
        width: 100%;
        color: $second-color;
        text-decoration: none;

        &:hover,
        &.active,
        &.hover {
          color: $second-color;
          text-decoration: none;
          background-color: rgba($white, 0.16);
        }
      }
    }

    .continent-list-drawer {
      @include trim();
      background-color: transparent;

      &.active {
        max-height: 3000px;
        background-color: transparent;
      }
    }

    .country-list-item {
      text-align: center;

      a {
        @include font($normal, 1, $regular, $body-font);
        @include padding($dp null);
        @include margin(0 null);
        color: $second-color;
        text-decoration: none;
        display: block;
        width: 100%;

        &:hover,
        &.active,
        &.hover {
          color: $second-color;
          text-decoration: none;
          background-color: rgba($white, 0.16);
        }

        span.highlight {
          font-weight: $bold !important;
        }
      }

      &.region {
        a {
          text-transform: uppercase;
        }
      }
    }
  }
}
