// ============================================================================
//
// COMPONENTS: SEARCH
//
// ============================================================================


.block-search {
  @include hide-before-dom-alter();
  @include icon-insert('icon-search', after);
  padding: $dp $dp * 3 $dp - 3 $dp * 2 !important;
  background: none;
  width: $dp * 26 !important;

  @include respond(tablets) {
    @include box-shadow(rgba(255, 255, 255, 0) -5px -20px 20px 1px);
    width: $dp * 10 !important;
  }

  @include respond(all-phones) {
    width: 100% !important;
  }

  &::after {
    @include trim();
    @include position(absolute, $dp * 1.8 $dp * 3.5 null auto);
    @include fs(20px);
    @include size($dp * 2);
    @include padding(0 $dp !important);
    display: block;
    color: $fourth-color;
    border: none;
    pointer-events: none;
  }

  &.active {
    background: $white;
    width: $dp * 35 !important;

    @include respond(tablets) {
      @include position(absolute, (-$dp * 2.5) 0 null null);
      @include box-shadow(rgba(255, 255, 255, 0.8) -5px -20px 20px 1px);
      width: $dp * 30 !important;

      .field {
        .input {
          cursor: text;
          opacity: 1;
        }
      }
    }

    @include respond(all-phones) {
      width: 100% !important;
    }

  }

  .field {
    @include respond(tablets) {
      border-left: 1px solid $hr-color;
      padding: 3px 0;
    }

    .input {
      @include font($normal, 1, $regular, $body-font);
      @include border-radius($metro-radius);
      @include position(relative);
      background: none;
      background-image: none;
      border: none;
      border-bottom: 1px solid $hr-color;
      color: $first-color;
      width: 90%;
      padding: 0 $dp !important;

      @include respond(tablets) {
        cursor: pointer;
        opacity: 0;
      }


      &::placeholder {
        color: $first-color;
      }

      &.form-autocomplete,
      &.country-search {
        background-image: none;
        background-position: 87% 50%;
        box-sizing: content-box;

        &.ui-autocomplete-loading {
          @include bg-image($img-path + 'spinner_small.gif', 16px, 16px);
          background-position: 87% 50%;
        }
      }
    }
  }
}

.fake-modal {
  @include transition(all .3s ease);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: $light-overlayer;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.ui-autocomplete.ui-widget.ui-widget-content {
  width: $dp * 35 !important;
  min-width: 300px !important;
  position: fixed !important;
  top: $dp * 5.2 !important;
  right: 0 !important;
  left: auto !important;
  height: 100%;
  z-index: 104;
  overflow-x: hidden;
  overflow-y: scroll;
  border: none !important;
  background: $second-color;
  padding: $dp $dp * 3 $dp * 8 $dp * 2;

  @include respond(tablets) {
    width: $dp * 30 !important;
    min-width: 300px !important;
    position: fixed !important;
    top: $dp * 5.2 !important;
    right: 0 !important;
    left: auto !important;
  }

  // @include respond(portrait-tablets) {
  //   width: $dp * 30 !important;
  //   position: fixed !important;
  //   top: $dp * 8.9 !important;
  //   right: 0 !important;
  //   left: auto !important;
  // }

  @include respond(all-phones) {
    width: 100% !important;
    min-width: 100% !important;
    position: absolute !important;
    top: $dp * 12 !important;
    right: auto !important;
    left: 0 !important;
    height: auto !important;
    z-index: 999999;
  }

  .ui-autocomplete-field-group {
    @include trim();
    @include red-caps-link();
    @include padding(null $dp / 2);
    @include margin($dp * 3 null $dp null);
    font-weight: $semibold;
    text-decoration: none;
    text-align: left;
    opacity: 1 !important;

    &:hover {
      text-decoration: none;
    }
  }

  .ui-menu-divider {
    display: none;
  }

  .ui-menu-item-,
  .ui-menu-item-first {
    @include trim();
    @include padding($dp / 2);
    @include margin(null null $dp / 2 null);

    a.ui-menu-item-wrapper {
      @include trim();
      border: none;
      background: transparent;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: none;
      }

      &.ui-state-active {
        border: none;
        background: $gray-10;
      }
    }

    &.ui-state-focus {
      border: none;
      background: $gray-10;
    }

    .ui-autocomplete-field-title {
      @include font($normal - 2, 1.2, $regular, $heading-font);
      text-decoration: none;
      color: $fourth-color;

      .ui-autocomplete-field-term {
        color: $black;
        font-weight: $semibold;
      }
    }

    .ui-autocomplete-field-created {
      display: none;
    }
  }

  .ui-menu-item-first:last-child {
    @include margin($dp * 2 null null null);
    a {
      @include default-button();
    }

    &.ui-state-focus {
      background: none;
    }
  }

  &.__kill {
    border: 10px solid red !important;
    display: none !important;
  }
}

// -------------------------------------
// Override
// -------------------------------------

body.node-map {
  .block-search {
    & {
      background: $third-color;
      @include box-shadow(none);

      @include respond(tablets) {
        background: transparent;
        @include box-shadow($third-color -35px 0px 0px inset);
      }

      @include respond(all-phones) {
        background: $third-color;
        @include box-shadow(none);
      }

      &::after {
        color: $second-color;

        @include respond(tablets) {
          color: $fourth-color;
        }
      }
    }

    &.active {
      background: $third-color;

      @include respond(tablets) {
        // background: $third-color;
        @include box-shadow(none);
        background: transparent;
        @include background-image(linear-gradient(left, rgba($third-color,0) 0%, rgba($third-color,0) 5%, rgba($third-color,1) 5%, rgba($third-color,1) 100%));
      }

      @include respond(all-phones) {
        background: $third-color;
        @include box-shadow(none);
      }

      &::after {
        color: $second-color;

        @include respond(tablets) {
          top: 23px;
        }
      }
    }

    &,
    &.active {
      .field {
        .input {
          border: none;
          border-bottom: 1px solid $second-color;
          color: $second-color;

          &::placeholder {
            color: $second-color;
          }
        }
      }
    }

    &.active {
      .field {
        @include respond(tablets) {
          border-left: none;
        }
      }
    }
  }

  .fake-modal {
    &.active {
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }

  .ui-autocomplete.ui-widget.ui-widget-content {
    @include transition(all .3s ease);
    display: block !important;
    background: $third-color;

    @include respond(tablets) {
      @include transition(all .3s ease);
      background: transparent;
      @include background-image(linear-gradient(left, rgba($third-color,0) 0%, rgba($third-color,0) 5%, rgba($third-color,1) 5%, rgba($third-color,1) 100%));
    }

    @include respond(all-phones) {
      @include transition(all .3s ease);
      min-height: 1200px !important;
    }

    &.__hide {
      right: -90px !important;

      @include respond(tablets) {
        right: -270px !important;
      }

      @include respond(all-phones) {
        display: none !important;
      }

      .continent-list-item {
        @include respond(tablets) {
          opacity: 0.5;
        }
      }

      #back {
        display: none;

        @include respond(tablets) {
          @include transition(all .3s ease);
          display: block;
          position: fixed !important;
          top: 55px;
          left: auto;
          right: 15px;
        }

        @include respond(all-phones) {
          display: none;
        }
      }
    }

    &.__insearch {
      right: 0px !important;

      @include respond(tablets) {
        right: 0px !important;
      }

      @include respond(all-phones) {
        display: block !important;
      }

      .continent-list-item {
        @include respond(tablets) {
          opacity: 1;
        }
      }

      #back {
        display: none;

        @include respond(tablets) {
          @include transition(all .3s ease);
          display: block;
          position: fixed !important;
          top: 55px;
          left: auto;
          right: 282px;
        }

        @include respond(all-phones) {
          display: none;
        }
      }


      &.__calllist {
        @include respond(all-phones) {
          //top: 65px !important;
          padding-top: $dp * 2 !important;
        }

        #back {
          display: none;

          @include respond(tablets) {
            @include transition(all .3s ease);
            display: block;
            position: fixed !important;
            top: 55px;
            left: auto;
            right: 282px;
          }

          @include respond(all-phones) {
            display: block;
          }
        }
      }
    }
  }
}
