{% if page.featured_bottom %}
<div class="featured-bottom-first">
  <section class="featured-bottom-first__inner section layout-container clearfix" role="complementary">
  {{ page.featured_bottom }}
  </section>
</div>
{% endif %}
