{% if page.featured_top %}
<div class="featured-top-first">
  <section class="featured-top-first__inner section layout-container clearfix" role="complementary">
  {{ page.featured_top }}
</section>
</div>
{% endif %}
