{% if page.sidebar_first %}
<aside id="sidebar-first" class="sidebar">
  <section class="sidebar-first__inner section" role="complementary">
    {{ page.sidebar_first }}
  </section>
</aside>
{% endif %}
