{% if page.sidebar_second %}
<aside id="sidebar-second" class="sidebar">
  <section class="sidebar-second__inner section" role="complementary">
    {{ page.sidebar_second }}
  </section>
</aside>
{% endif %}
