<footer class="b-footer">
  <div class="wrap">
    <a class="box-footer -global" href="/map">
      See the<br>global picture
    </a>
    <a class="box-footer -explore" href="/explore">
      Explore<br>the information
    </a>
    <a class="box-footer -topics" href="/topics">
      Discover<br>topics
    </a>
    <a class="box-footer -subscribe" href="/about">
      Keep<br>updated
    </a>
  </div>
  <div class="sub-footer">
    <img src="/{{ directory }}/images/footer/stanford-logo.png" alt="Stanford Law School">
  </div>
</footer>
