<div class="b-home-page">
  <div class="wrap">
    <div class="intro-section">
      <div class="image">
      </div>
      <div class="text">
        <span class="text-secondary-header -black">Welcome to the</span>
        <h1 class="text-main-header -black">
          World Intermediary
          Liability Map
        </h1>
        <p class="paragraph -black">
          WILMap Description text. Lorem ipsum sit amet ornare
          sem lacinia quam venenatis vestibulum.
        </p>
        <a class="butn -primary" href="/about">
          know more
        </a>
      </div>
    </div>

    <div class="map-section">
      <div class="image">
      </div>
      <div class="text">
        <h2 class="text-secondary-header -black">See the <br> global picture</h2>
        <p class="paragraph -black">
          Generic introduction text lorem ipsum id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
        </p>
        <p class="paragraph -black">
          Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
        </p>
        <a class="butn -primary" href="/map">
          go to map
        </a>
      </div>
    </div>
  </div>

  <div class="explore-section">
    <div class="wrap">
      <div class="text">
        <h2 class="text-secondary-header -white">
          Explore the information
        </h2>
        <p class="paragraph -white">
          Generic introduction text lorem ipsum id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
        </p>
        <p class="paragraph -white">
          Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
        </p>
        <a class="butn -tertiary-white" href="/explore">
          go to explore
        </a>
      </div>
      <div class="image">
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="news-section">
      <div class="image">
      </div>
      <div class="text">
        <h2 class="text-secondary-header -black">Keep updated</h2>
        <p class="paragraph -black">
          Generic introduction text lorem ipsum id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
        </p>
        <p class="paragraph -black">
          Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
        </p>
        <a class="butn -primary" href="/news">
          go to news
        </a>
      </div>
    </div>
  </div>
</div>
