<div class="b-explore-gallery">
  <div class="title-page">
    <div class="image">
    </div>
    <h1 class="text-main-header -black">
      Explore
    </h1>
  </div>
  <div class="filters">
    <div class="contain-input">
      <div class="filter-contain">
        <div>
          <span class="text-subtitle -big">filter by</span>
          <select class="filter-document">
            <option></option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <select class="filter-country">
          <option></option>
          <option value="AL">Alabama</option>
          <option value="WY">Wyoming</option>
        </select>
        <select class="filter-year">
          <option></option>
          <option value="AL">2007</option>
          <option value="WY">2008</option>
        </select>
        <button class="butn -primary">
          advanced
        </button>
      </div>
      <div class="order-contain">
        <div>
          <span class="text-subtitle -big">group by</span>
          <select class="filter-group">
            <option></option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div>
          <span class="text-subtitle -big">sort by</span>
          <select class="filter-sort">
            <option></option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="gallery-entries"></div>
</div>
