// --------------
// Hide before loading (js)
// --------------
@mixin hide-before-dom-alter($visibility: false){
  & {
    @if $visibility {
      visibility: hidden;
    } @else {
      display: none;
    }


    &.__processed {
      @if $visibility {
        visibility: visible;
      } @else {
        display: block;
      }
    }
  }
}
