// ============================================================================
//
//    PLACEHOLDERS
//
// ============================================================================


// ----------------------------------------------------------------
// Generic
// ----------------------------------------------------------------

// No Border
%debug {
  border: 1px solid $red;
}

// No Border
%is-border-none {
  border: 0;
}

// Overflow hidden
%is-overflow-hidden {
  overflow: hidden;
}

// Show / hides
%is-hidden {
  display: none;
}

%is-shown-block {
  display: block;
}

%is-shown-inline {
  display: inline;
  display: inline-block;
}

// Type and rhythm
%is-uppercase {
  letter-spacing: 1px;
  text-transform: uppercase;
}

%is-lowercase {
  text-transform: lowercase;
}

%is-titlecase {
  letter-spacing: -1px;
}

%is-text-align-left {
  text-align: left;
}

%is-text-align-center {
  text-align: center;
}

%is-text-align-right {
  text-align: right;
}

%no-leader {
  margin-top: 0;
}

%no-trailer {
  margin-bottom: 0;
}

%hide-text {
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
}

// Images
%max-width {
  max-width: 100%;
  height: auto;
}
