/**
 * @file
 * Page title.
 */
.page-title {
  font-size: 50px;
  font-weight: 200;
  color: #333;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-style: inherit !important;

  em {
    font-weight: 200;
  }
}

.shortcut-action {
  display: none;
}
