// Texts styles

.text-main-header {
  font-size: $font-size-huge;
  font-weight: $font-weight-light;

  &.-black {
    color: $black;
  }

  &.-white {
    color: $white;
  }
}

.text-secondary-header {
  font-size: $font-size-large;
  font-weight: $font-weight-light;

  &.-black {
    color: $black;
  }

  &.-white {
    color: $white;
  }
}

.paragraph {
  font-size: $font-size-small;
  line-height: 1.88;

  &.-black {
    color: $black;
  }

  &.-white {
    color: $white;
  }

  strong {
    font-weight: $font-weight-semi-bold;
  }

  a {
    display: inline-block;
    position: relative;
    color: $main-color;

    &::after {
      position: absolute;
      bottom: 7px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $main-color;
      content: '';
    }
  }
}

.text-subtitle {
  color: $second-color;
  font-size: $font-size-small;
  line-height: 1.88;

  &.-big {
    color: $main-color;
    letter-spacing: .5px;
    text-transform: uppercase;
  }
}
