<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
      <div class="section layout-container clearfix">


        <header class="b-menu">
          <a class="logo" href="{{ path('<front>') }}" rel="home">
            <img src="/{{ directory }}/images/logo.png" alt="logo">
          </a>
          <div class="contain-navigation">
            <nav>
              <ul>
                <li class="map-option">
                  <a href="/map">Map</a>
                </li>
                <li class="explore-option">
                  <a href="/explore">Explore</a>
                </li>
                <li class="topics-option">
                  <a href="/topics">Topics</a>
                </li>
                <li class="news-option">
                  <a href="/news">News</a>
                </li>
                <li class="about-option">
                  <a href="/about">About</a>
                </li>
              </ul>
            </nav>
          </div>
        </header>



      </div>
    </header>
    <div id="main-wrapper" class="wrap">
      <div id="main" class="layout-main clearfix">
        <main id="content" class="column main-content" role="main">
          <section class="section wrap about-page">



<div class="b-about-page">
  <div class="main-information">
    <div class="image">
    </div>
    <div class="text">
      <span class="text-secondary-header -black">
        About the
      </span>
      <h1 class="text-main-header -black">
        World Intermediary
        Liabilty Map
      </h1>
    </div>
    <div class="text-paragraph">
      <p class="paragraph -black">
        The World Intermediary Liability Map (WILMap) is an online resource informing the public about evolving
        Internet regulation affecting <strong>freedom of expression and user rights worldwide</strong>.
      </p>
      <p class="paragraph -black">
        CIS, in collaboration with an amazing team of contributors from around the world,
        built this detailed English-language resource comprised of international case law,
        statutes, proposed laws, and other materials related to intermediary liability.
      </p>
      <p class="paragraph -black">
        You can use the WILMap to learn about intermediary liability regimes worldwide,
        and to identify places where legal regimes balance—or fail to balance—regulatory goals with
        freedom of expression and other civil liberties.
      </p>
      <p class="paragraph -black">
        Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKhwkPlZ2I0_7qAQjma8Y4SOXKFIHWhWf_qklMM7QdduNjjQ/viewform">contact us</a> if you would like to join this project, provide feedback or suggest updates to a specific country page.
      </p>
      <p class="paragraph -black">
        The WILMap project was developed by <a href="http://cyberlaw.stanford.edu/about/people/giancarlo-frosio">Giancarlo F Frosio</a>
        and is currently coordinated by Luiz <a href="https://cyberlaw.stanford.edu/about/people/luiz-fernando-marrey-moncau">Fernando Marrey Moncau</a>.
      </p>
    </div>
  </div>
</div>




</section>
</main>
</div>
</div>
<footer class="site-footer">
<div class="layout-container">
<div class="site-footer__top clearfix">

  <footer class="b-footer">
    <div class="wrap">
      <a class="box-footer -global" href="/map">
        See the<br>global picture
      </a>
      <a class="box-footer -explore" href="/explore">
        Explore<br>the information
      </a>
      <a class="box-footer -topics" href="/topics">
        Discover<br>topics
      </a>
      <a class="box-footer -subscribe" href="/about">
        Keep<br>updated
      </a>
    </div>
    <div class="sub-footer">
      <img src="/{{ directory }}/images/footer/stanford-logo.png" alt="Stanford Law School">
    </div>
  </footer>


</div>
</div>
</footer>
</div>
</div>
